<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
  <!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <!--&lt;!&ndash; Meta, title, CSS, favicons, etc. &ndash;&gt;-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->
	  <!---->
    <!--<title>Gentelella Alela! | </title>-->

    <!--&lt;!&ndash; Bootstrap &ndash;&gt;-->
    <!--<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Font Awesome &ndash;&gt;-->
    <!--<link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; NProgress &ndash;&gt;-->
    <!--<link href="../vendors/nprogress/nprogress.css" rel="stylesheet">-->
    <!--&lt;!&ndash; iCheck &ndash;&gt;-->
    <!--<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">-->
    <!--&lt;!&ndash; bootstrap-wysiwyg &ndash;&gt;-->
    <!--<link href="../vendors/google-code-prettify/bin/prettify.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Select2 &ndash;&gt;-->
    <!--<link href="../vendors/select2/dist/css/select2.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Switchery &ndash;&gt;-->
    <!--<link href="../vendors/switchery/dist/switchery.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; starrr &ndash;&gt;-->
    <!--<link href="../vendors/starrr/dist/starrr.css" rel="stylesheet">-->
    <!--&lt;!&ndash; bootstrap-daterangepicker &ndash;&gt;-->
    <!--<link href="../vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Custom Theme Style &ndash;&gt;-->
    <!--<link href="../build/css/custom.min.css" rel="stylesheet">-->
  <!--</head>-->

  <body class="nav-md" lang= "en-US">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index" class="site_title">
                <!--<i class="fa fa-paw"></i> -->
                <img src="siece.png">
                <span>SIECE</span>
              </a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="img.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido,</span>
                <h2>{{#if user.displayName}}{{user.displayName}}{{else}}{{user.email}}{{/if}}</h2>
              </div>
            </div>
            <!-- /menu profile quick info -->

            <br />

            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                  <h3>General</h3>
                  <ul class="nav side-menu">
                    <li>
                      <a href="index"><i class="fa fa-home"></i> Dashboard</a>
                    </li>
                    <li>
                      <a href="indicadores"><i class="fa fa-bar-chart"></i> Indicadores</a>
                    </li>
                    {{#if user}}
                      {{#unless is_admin}}
                        <li>
                          <a href="perfil"><i class="fa fa-user"></i> Perfil</a>
                        </li>
                        <li>
                          <a href="formularios"><i class="fa fa-edit"></i> Formularios</a>
                        </li>
                      {{/unless}}
                    {{/if}}
                    {{#if is_admin}}
                      <li>
                        <a href="admin"><i class="fa fa-pencil"></i> Administrador</a>
                      </li>
                    {{/if}}
                    {{#if is_admin}}
                    <li>
                        <a href="settings"><i class="fa fa-gear"></i> Configuraciones</a>
                    </li>
                    {{/if}}
                  </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <div class="navbar-brand">
                <span style="color: #73879C">
                  <strong>Reportando Año: {{report.reported_year}}</strong>
                </span>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                    <img src="img.png" alt="">{{#if user.displayName}}{{user.displayName}}{{else}}{{user.email}}{{/if}}
                    <span class=" fa fa-angle-down"></span>
                  </a>
                  <ul class="dropdown-menu dropdown-usermenu pull-right">
                    {{#if is_admin}}
                    {{else}}
                      <li><a href="perfil"> Perfil</a></li>
                    {{/if}}
                    <!--<li><a onclick="firebase.auth().signOut()"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a></li>-->
                    <li><a onclick="logout()"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a></li>
                  </ul>
                </li>
                <li>
                  <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/siece-app.appspot.com/o/INSTRUCTIVO%20SIECE%20hoja%20V2.pdf?alt=media&token=71fd0ac7-21d4-4f7e-9e58-4832cf332850" >
                    <strong style="color: #1ABB9C">Instructivo <i class="fa fa-book"></i></strong>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        {{#ifCond can_report '||' is_admin}}
        <div class="right_col" role="main">
          <div class="">
            <div class="clearfix"></div>
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                {{#if success}}
                  <div id="message" class="alert alert-success" role="alert">
                    {{success}}
                  </div>
                {{/if}}
                {{#if error}}
                  <div id="message" class="alert alert-danger" role="alert">
                    {{error}}
                  </div>
                {{/if}}
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Formulario SIECE</h2>
                    <!--<ul class="nav navbar-right panel_toolbox">-->
                      <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                      <!--</li>-->
                      <!--<li class="dropdown">-->
                        <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                        <!--<ul class="dropdown-menu" role="menu">-->
                          <!--<li><a href="#">Settings 1</a>-->
                          <!--</li>-->
                          <!--<li><a href="#">Settings 2</a>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</li>-->
                      <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                      <!--</li>-->
                    <!--</ul>-->
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <br />
                      <!-- MAIN FORM -->
                    <form id="demo-form2" data-parsley-validate class="form-horizontal form-label-left" method="post">
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="user_name">Nombre de la Institución</label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input id="institution_name" class="form-control" type="text" value="{{user.displayName}}" readonly>
                        </div>
                      </div>
                      <!-- pregunta 1 -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          1. Fuentes y montos actuales de financiamiento del Crédito Educativo en su institución
                          (USD al cierre del año fiscal). (Se pueden marcar varias opciones)
                          <span id="tooltip" class="tool" data-tip="El Monto es en Dólares Americanos a la fecha de corte (cierre del año fiscal correspondiente). Datos del año que se está reportando."
                                tabindex="1">
                            <i class="fa fa-question-circle"></i>
                          </span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="gubernamental" id="source_gubernamental" name="sources">
                              Recursos gubernamentales:
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_gubernamental_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_gubernamental_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="privado" id="source_privado" name="sources">
                              Recursos privados:
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_privado_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_privado_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="nacional" id="source_nacional" name="sources">
                              Créditos nacionales:
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_nacional_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_nacional_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="internacional" id="source_internacional" name="sources">
                              Créditos internacionales:
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_internacional_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_internacional_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="donaciones" id="source_donaciones" name="sources">
                              Donaciones y filantropía:
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_donaciones_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_donaciones_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="cartera" id="source_cartera" name="sources">
                              Recuperación de la cartera / cobranza:
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_cartera_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_cartera_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="terceros" id="source_terceros" name="sources">
                              Adminitración de recursos de terceros:
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_terceros_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_terceros_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="cooperacion" id="source_cooperacion" name="sources">
                              Fondos de cooperación (nacionales o internacionales):
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_cooperacion_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_cooperacion_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="impuestos" id="source_impuestos" name="sources">
                              Impuestos, tasas y contribuciones:
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_impuestos_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_impuestos_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="titularizacion" id="source_titularizacion" name="sources">
                              Titularización:
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_titularizacion_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_titularizacion_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="propios" id="source_propios" name="sources">
                              Recursos propios (excedentes anuales):
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_propios_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_propios_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-md-5">
                              <input type="checkbox" value="inversiones" id="source_inversiones" name="sources">
                              Inversiones:
                            </label>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_inversiones_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_inversiones_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <div class="col-xs-12 col-md-5">
                              <label>
                                <input type="checkbox" value="otra" id="source_otra" name="sources">
                                Otra
                              </label>
                              <label for="source_otra_name"></label>
                              <input type="text" disabled id="source_otra_name" name="source_otra_name">
                            </div>
                            <div class="col-xs-12 col-md-7">
                              <label for="source_otra_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="source_otra_amount" name="source_amounts" min="0">
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      <!-- pregunta 2 -->
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="program_quantity">
                          2. Número de Programas o Líneas de C.E. que ofrece la institución
                          <span id="tooltip" class="tool" data-tip="La suma del número de beneficiarios de cada programa debe coincidir con los datos reportados en la pregunta 12 y en la 13, en pregrado y posgrado."
                                tabindex="1">
                            <i class="fa fa-question-circle"></i>
                          </span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 mt-1">
                          <select class="select2_single form-control" id="program_quantity" name="program_quantity"
                                  tabindex="-1" onchange="changePanelsQuantity(this.value)">
                            <option value="0">0</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                          </select>
                        </div>
                      </div>
                      <!-- programas (preguntas  4.1 - 4.10A) -->
                      <div id="programs_container">
                      </div>
                      <!-- pregunta 3 -->
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="total_investment">
                          3. Monto de los recursos invertidos en Crédito Educativo por la Institución, desde
                          la fundación hasta el año que se reporta
                          <span id="tooltip" class="tool" data-tip="Se reporta el valor acumulado invertido en Crédito Educativo, desde que inició operaciones hasta el año que se informa. (USD al cierre del año fiscal)"
                                tabindex="1">
                            <i class="fa fa-question-circle"></i>
                          </span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <input type="text" step="0.001" id="total_investment" name="total_investment" class="autonumeric form-control mt-2" min="0">
                        </div>
                      </div>
                      <!-- pregunta 4 -->
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="total_students">
                          4. Número total de estudiantes, con Crédito Educativo, atendidos por la institución
                          desde su fundación o desde el año que se reporta
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 pt">
                          <div class="col-xs-12">
                            <input type="text" id="total_students" name="total_students" class="autonumeric form-control mt-0" min="0" step="1">
                          </div>
                          <div class="col-xs-12 mt-1">
                            <label class="col-sm-3" for="total_students_year_since">Desde el año: </label>
                            <input class="autonumeric col-sm-3" type="text" step="1" id="total_students_year_since" name="total_students_year_since" min="1800">
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 5 -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          5. Monto de la cartera vigente
                          <span id="tooltip" class="tool" data-tip="Monto total de créditos que tienen sus amortizaciones de capital y pago de intereses al día, conforme al plan de pagos establecido en los contratos de crédito. (USD al cierre del año fiscal)"
                                tabindex="1">
                            <i class="fa fa-question-circle"></i>
                          </span>
                          <span id="current_portfolio_error" hidden>Los montos de las preguntas 7 y 7A deben coincidir</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="pregrado_pais" id="current_portfolio_pregrado_pais" name="current_portfolio">
                              Crédito país (pregrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="current_portfolio_pregrado_pais_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="current_portfolio_pregrado_pais_amount" name="current_portfolio_amounts" min="0"
                                     data-parsley-current-portfolio>
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="pregrado_exterior" id="current_portfolio_pregrado_exterior" name="current_portfolio">
                              Crédito exterior (pregrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="current_portfolio_pregrado_exterior_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="current_portfolio_pregrado_exterior_amount" name="current_portfolio_amounts" min="0"
                                     data-parsley-current-portfolio>
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="posgrado_pais" id="current_portfolio_posgrado_pais" name="current_portfolio">
                              Crédito país (posgrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="current_portfolio_posgrado_pais_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="current_portfolio_posgrado_pais_amount" name="current_portfolio_amounts" min="0"
                                     data-parsley-current-portfolio>
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="posgrado_exterior" id="current_portfolio_posgrado_exterior" name="current_portfolio">
                              Crédito exterior (posgrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="current_portfolio_posgrado_exterior_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="current_portfolio_posgrado_exterior_amount" name="current_portfolio_amounts" min="0"
                                     data-parsley-current-portfolio>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 5A -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          5A. Monto de la cartera vigente por género (USD)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 pt">
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="current_portfolio_pregrado_male">Masculino (pregrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="current_portfolio_pregrado_male" name="current_portfolio_pregrado_male" min="0"
                                   data-parsley-current-portfolio>
                          </div>
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="current_portfolio_pregrado_female">Femenino (pregrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="current_portfolio_pregrado_female" name="current_portfolio_pregrado_female" min="0"
                                   data-parsley-current-portfolio>
                          </div>
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="current_portfolio_posgrado_male">Masculino (posgrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="current_portfolio_posgrado_male" name="current_portfolio_posgrado_male" min="0"
                                   data-parsley-current-portfolio>
                          </div>
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="current_portfolio_posgrado_female">Femenino (posgrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="current_portfolio_posgrado_female" name="current_portfolio_posgrado_female" min="0"
                                   data-parsley-current-portfolio>
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 6 -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          6. Monto de la cartera vencida
                          <span id="tooltip" class="tool" data-tip="Monto total de créditos que tienen sus amortizaciones de capital y pago de intereses con un atraso mayor a 90 días. (USD al cierre del año fiscal)"
                                tabindex="1">
                            <i class="fa fa-question-circle"></i>
                          </span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="pregrado_pais" id="pastdue_portfolio_pregrado_pais" name="pastdue_portfolio">
                              Crédito país (pregrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="pastdue_portfolio_pregrado_pais_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="pastdue_portfolio_pregrado_pais_amount" name="pastdue_portfolio_amounts" min="0"
                                     data-parsley-pastdue-portfolio>
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="pregrado_exterior" id="pastdue_portfolio_pregrado_exterior" name="pastdue_portfolio">
                              Crédito exterior (pregrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="pastdue_portfolio_pregrado_exterior_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="pastdue_portfolio_pregrado_exterior_amount" name="pastdue_portfolio_amounts" min="0"
                                     data-parsley-pastdue-portfolio>
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="posgrado_pais" id="pastdue_portfolio_posgrado_pais" name="pastdue_portfolio">
                              Crédito país (posgrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="pastdue_portfolio_posgrado_pais_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="pastdue_portfolio_posgrado_pais_amount" name="pastdue_portfolio_amounts" min="0"
                                     data-parsley-pastdue-portfolio>
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="posgrado_exterior" id="pastdue_portfolio_posgrado_exterior" name="pastdue_portfolio">
                              Crédito exterior (posgrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="pastdue_portfolio_posgrado_exterior_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="pastdue_portfolio_posgrado_exterior_amount" name="pastdue_portfolio_amounts" min="0"
                                     data-parsley-pastdue-portfolio>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 6A -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          6A. Monto de la cartera vencida por género (USD)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 pt">
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="pastdue_portfolio_pregrado_male">Masculino (pregrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="pastdue_portfolio_pregrado_male" name="pastdue_portfolio_pregrado_male" min="0"
                                   data-parsley-pastdue-portfolio>
                          </div>
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="pastdue_portfolio_pregrado_female">Femenino (pregrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="pastdue_portfolio_pregrado_female" name="pastdue_portfolio_pregrado_female" min="0"
                                   data-parsley-pastdue-portfolio>
                          </div>
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="pastdue_portfolio_posgrado_male">Masculino (posgrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="pastdue_portfolio_posgrado_male" name="pastdue_portfolio_posgrado_male" min="0"
                                   data-parsley-pastdue-portfolio>
                          </div>
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="pastdue_portfolio_posgrado_female">Femenino (posgrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="pastdue_portfolio_posgrado_female" name="pastdue_portfolio_posgrado_female" min="0"
                                   data-parsley-pastdue-portfolio>
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 7 -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          7. Monto de la cartera en ejecución
                          <span id="tooltip" class="tool" data-tip="Monto total de créditos por los cuales la IPSCE ha iniciado acciones judiciales para el cobro. (USD al cierre del año fiscal)"
                                tabindex="1">
                            <i class="fa fa-question-circle"></i>
                          </span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="pregrado_pais" id="execution_portfolio_pregrado_pais" name="execution_portfolio">
                              Crédito país (pregrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="execution_portfolio_pregrado_pais_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="execution_portfolio_pregrado_pais_amount" name="execution_portfolio_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="pregrado_exterior" id="execution_portfolio_pregrado_exterior" name="execution_portfolio">
                              Crédito exterior (pregrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="execution_portfolio_pregrado_exterior_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="execution_portfolio_pregrado_exterior_amount" name="execution_portfolio_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="posgrado_pais" id="execution_portfolio_posgrado_pais" name="execution_portfolio">
                              Crédito país (posgrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="execution_portfolio_posgrado_pais_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="execution_portfolio_posgrado_pais_amount" name="execution_portfolio_amounts" min="0">
                            </div>
                          </div>
                          <div class="checkbox col-xs-12">
                            <label class="col-xs-12 col-sm-4">
                              <input type="checkbox" value="posgrado_exterior" id="execution_portfolio_posgrado_exterior" name="execution_portfolio">
                              Crédito exterior (posgrado):
                            </label>
                            <div class="col-xs-12 col-sm-8">
                              <label for="execution_portfolio_posgrado_exterior_amount">USD</label>
                              <input class="autonumeric" type="text" step="0.001" disabled id="execution_portfolio_posgrado_exterior_amount" name="execution_portfolio_amounts" min="0">
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 7A -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          7A. Monto de la cartera en ejecución por género (USD)
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 pt">
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="execution_portfolio_pregrado_male">Masculino (pregrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="execution_portfolio_pregrado_male" name="execution_portfolio_pregrado_male" min="0">
                          </div>
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="execution_portfolio_pregrado_female">Femenino (pregrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="execution_portfolio_pregrado_female" name="execution_portfolio_pregrado_female" min="0">
                          </div>
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="execution_portfolio_posgrado_male">Masculino (posgrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="execution_portfolio_posgrado_male" name="execution_portfolio_posgrado_male" min="0">
                          </div>
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="execution_portfolio_posgrado_female">Femenino (posgrado): </label>
                            <input class="autonumeric col-sm-3" type="text" step="0.001" id="execution_portfolio_posgrado_female" name="execution_portfolio_posgrado_female" min="0">
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 8 -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          8. Tipos de riesgos que se administran en su institución
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="cambio" id="risks_cambio" name="risks">
                              Tipos de cambio
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="interes" id="risks_interes" name="risks">
                              Tasa de interés
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="prepago" id="risks_prepago" name="risks">
                              Prepago
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="incumplimiento" id="risks_incumplimiento" name="risks">
                              Incumplimiento
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="fallecimiento" id="risks_fallecimiento" name="risks">
                              Fallecimiento del cliente
                            </label>
                          </div>
                          <div class="checkbox">
                            <label>
                              <input type="checkbox" value="otra" id="risks_otra" name="risks">
                              Otra
                            </label>
                            <label for="risks_other"></label>
                            <input type="text" disabled id="risks_other" name="risks_other">
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 9 -->
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="risk_increasing_actions">
                          9. Acciones u omisiones de la institución que podrían incrementar el riesgo de
                          incumplimiento de pagos por parte de los deudores.
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea class="form-control mt-1" rows="3" id="risk_increasing_actions" name="risk_increasing_actions"></textarea>
                        </div>
                      </div>
                      <!-- pregunta 10 -->
                      <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="risk_mitigating_actions">
                          10. Acciones que lleva a cabo su institución para mitigar los riesgos de no pago.
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                          <textarea class="form-control mt-1" rows="3" id="risk_mitigating_actions" name="risk_mitigating_actions"></textarea>
                        </div>
                      </div>
                      <!-- pregunta 11 -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          11. Comparte el riesgo de NO pago del C.E.
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12">
                          <div class="radio">
                            <label>
                              <input type="radio" value="si" id="non_payment_risk_si" name="non_payment_risk">
                              Sí
                            </label>
                            <div class="ml-2">
                              <label>
                                <input type="radio" value="universidades" id="non_payment_risk_si_universidades" name="non_payment_risk_si" disabled>
                                Universidades
                              </label>
                              <label>
                                <input type="radio" value="publico" id="non_payment_risk_si_publico" name="non_payment_risk_si" disabled>
                                Sector público
                              </label>
                              <div>
                                <label>
                                  <input type="radio" value="otra" id="non_payment_risk_si_otra" name="non_payment_risk_si" disabled>
                                  Otra
                                </label>
                                <label for="non_payment_risk_si_other"></label>
                                <input type="text" disabled id="non_payment_risk_si_other" name="non_payment_risk_si_other">
                              </div>
                            </div>
                          </div>
                          <div class="radio">
                            <label>
                              <input type="radio" value="no" id="non_payment_risk_no" name="non_payment_risk">
                              No
                            </label>
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 12 -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          12. Número de estudiantes atendidos con Crédito Educativo, por género
                          <span id="tooltip" class="tool" data-tip="La suma del número de beneficiarios de cada programa debe coincidir con los datos reportados en la pregunta 12 y en la 13, en pregrado y posgrado."
                                tabindex="1">
                            <i class="fa fa-question-circle"></i>
                          </span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12 mt-1">
                          <div class="col-xs-12">
                            <div class="col-sm-3">
                              <label class="col-xs-9" for="pregrado_students">Pregrado</label>
                              <input class="autonumeric col-sm-3" type="text" id="pregrado_students" name="pregrado_students" min="0">
                              <div class="col-xs-12">
                                <label class="col-sm-9" for="pregrado_male_students">Masculino (pregrado): </label>
                                <input class="autonumeric col-sm-3" type="text" id="pregrado_male_students" name="pregrado_male_students" min="0" disabled>
                              </div>
                              <div class="col-xs-12">
                                <label class="col-sm-9" for="pregrado_female_students">Femenino (pregrado): </label>
                                <input class="autonumeric col-sm-3" type="text" id="pregrado_female_students" name="pregrado_female_students" min="0" disabled>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <label class="col-xs-9" for="posgrado_students">Posgrado</label>
                              <input class="autonumeric col-sm-3" type="text" id="posgrado_students" name="posgrado_students" min="0">
                              <div class="col-xs-12">
                                <label class="col-sm-9" for="posgrado_male_students">Masculino (posgrado): </label>
                                <input class="autonumeric col-sm-3" type="text" id="posgrado_male_students" name="posgrado_male_students" min="0" disabled>
                              </div>
                              <div class="col-xs-12">
                                <label class="col-sm-9" for="posgrado_female_students">Femenino (posgrado): </label>
                                <input class="autonumeric col-sm-3" type="text" id="posgrado_female_students" name="posgrado_female_students" min="0" disabled>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 13 -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          13. Número de estudiantes atendidos con Crédito Educativo, de acuerdo con su nivel
                          socioeconómico
                          <span id="tooltip" class="tool" data-tip="La sumatoria del número de beneficiarios (4.2) de cada programa debe coincidir con los datos reportados en la pregunta 12 y en la 13, en pregrado y posgrado."
                                tabindex="1">
                            <i class="fa fa-question-circle"></i>
                          </span>
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12 mt-1">
                          <div class="col-xs-12">
                            <div class="col-sm-3">
                              <label class="col-xs-9" for="pregrado_students_economic">Pregrado</label>
                              <input class="autonumeric col-sm-3" type="text" id="pregrado_students_economic" name="pregrado_students_economic" min="0">
                              <div class="col-xs-12">
                                <label class="col-sm-9" for="pregrado_high_students">Alto (pregrado): </label>
                                <input class="autonumeric col-sm-3" type="text" id="pregrado_high_students" name="pregrado_high_students" min="0" disabled>
                              </div>
                              <div class="col-xs-12">
                                <label class="col-sm-9" for="pregrado_medium_students">Medio (pregrado): </label>
                                <input class="autonumeric col-sm-3" type="text" id="pregrado_medium_students" name="pregrado_medium_students" min="0" disabled>
                              </div>
                              <div class="col-xs-12">
                                <label class="col-sm-9" for="pregrado_low_students">Bajo (pregrado): </label>
                                <input class="autonumeric col-sm-3" type="text" id="pregrado_low_students" name="pregrado_low_students" min="0" disabled>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <label class="col-xs-9" for="posgrado_students_economic">Posgrado</label>
                              <input class="autonumeric col-sm-3" type="text" id="posgrado_students_economic" name="posgrado_students_economic" min="0">
                              <div class="col-xs-12">
                                <label class="col-sm-9" for="posgrado_high_students">Alto (posgrado): </label>
                                <input class="autonumeric col-sm-3" type="text" id="posgrado_high_students" name="posgrado_high_students" min="0" disabled>
                              </div>
                              <div class="col-xs-12">
                                <label class="col-sm-9" for="posgrado_medium_students">Medio (posgrado): </label>
                                <input class="autonumeric col-sm-3" type="text" id="posgrado_medium_students" name="posgrado_medium_students" min="0" disabled>
                              </div>
                              <div class="col-xs-12">
                                <label class="col-sm-9" for="posgrado_low_students">Bajo (posgrado): </label>
                                <input class="autonumeric col-sm-3" type="text" id="posgrado_low_students" name="posgrado_low_students" min="0" disabled>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 14 -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          14. N° de beneficiarios de C.E. que se graduaron en el año que se está reportando
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12 mt-1">
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="pregrado_graduate_percentage">Pregrado: </label>
                            <input class="autonumeric col-sm-3" type="text" id="pregrado_graduate_percentage" name="pregrado_graduate_percentage" min="0" step="0.1" max="100">
                          </div>
                          <div class="col-xs-12">
                            <label class="col-sm-3" for="posgrado_graduate_percentage">Posgrado: </label>
                            <input class="autonumeric col-sm-3" type="text" id="posgrado_graduate_percentage" name="posgrado_graduate_percentage" min="0" step="0.1" max="100">
                          </div>
                        </div>
                      </div>
                      <!-- pregunta 15 -->
                      <div class="form-group">
                        <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                          15. La institución ofrece beneficios o estímulos para favorecer
                          la graduación de los beneficiarios
                        </label>
                        <div class="col-md-9 col-sm-9 col-xs-12 mt-1">
                          <div class="col-xs-12">
                            <div class="col-sm-3">
                              <strong class="col-xs-12">Pregrado</strong>
                              <div class="col-xs-12">
                                <div class="radio col-sm-3">
                                  <label>
                                    <input type="radio" value="si" id="pregrado_benefits_si" name="pregrado_benefits">
                                    Sí
                                  </label>
                                </div>
                                <div class="radio col-sm-3">
                                  <label>
                                    <input type="radio" value="no" id="pregrado_benefits_no" name="pregrado_benefits">
                                    No
                                  </label>
                                </div>
                              </div>
                              <div class="col-xs-12 mt-1">
                                <label class="col-xs-12" for="pregrado_benefits_cuales">¿Cuáles?</label>
                                <textarea id="pregrado_benefits_cuales" name="pregrado_benefits_cuales" disabled>
                                </textarea>
                              </div>
                            </div>
                            <div class="col-sm-3">
                              <strong class="col-xs-12">Posgrado</strong>
                              <div class="col-xs-12">
                                <div class="radio col-sm-3">
                                  <label>
                                    <input type="radio" value="si" id="posgrado_benefits_si" name="posgrado_benefits">
                                    Sí
                                  </label>
                                </div>
                                <div class="radio col-sm-3">
                                  <label>
                                    <input type="radio" value="no" id="posgrado_benefits_no" name="posgrado_benefits">
                                    No
                                  </label>
                                </div>
                              </div>
                              <div class="col-xs-12 mt-1">
                                <label class="col-xs-12" for="posgrado_benefits_cuales">¿Cuáles?</label>
                                <textarea id="posgrado_benefits_cuales" name="posgrado_benefits_cuales" disabled>
                                </textarea>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- fin preguntas -->
                      <div class="ln_solid"></div>
                      <!-- botones -->
                      <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-8">
                          {{#if report}}
                            <button type="submit" class="btn btn-success">Solo Guardar</button>
                            <button id="accept" type="submit" class="btn btn-success" onclick="sendForReview()">Guardar y Enviar para Revisión</button>
                          {{/if}}
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        {{/ifCond}}

        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="vendor/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="vendor/nprogress/nprogress.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="vendor/js/icheck.min.js"></script>
    <!-- bootstrap-daterangepicker -->
    <!--<script src="vendor/js/moment.min.js"></script>-->
    <!--<script src="daterangepicker.js"></script>-->
    <!-- bootstrap-wysiwyg -->
    <script src="vendor/js/bootstrap-wysiwyg.min.js"></script>
    <script src="vendor/js/jquery.hotkeys.js"></script>
    <script src="vendor/js/prettify.js"></script>
    <!-- jQuery Tags Input -->
    <script src="vendor/js/jquery.tagsinput.js"></script>
    <!-- Switchery -->
    <script src="vendor/js/switchery.min.js"></script>
    <!-- Select2 -->
    <script src="vendor/js/select2.full.min.js"></script>
    <!-- Parsley -->
    <script src="vendor/parsley/parsley.min.js"></script>
    <!-- i18n/es.js-->
    <script src="vendor/js/es.js"></script>
    <!-- Autosize -->
    <script src="vendor/js/autosize.min.js"></script>
    <!-- jQuery autocomplete -->
    <script src="vendor/js/jquery.autocomplete.min.js"></script>
    <!-- starrr -->
    <script src="vendor/js/starrr.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="build/js/custom.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function() {
      // autonumeric
      $(".autonumeric").attr("pattern", "/^\d+(\.\d+)?$/");

      $("input:radio[name=type]").change(function() {
        var textField = $("#type_other");
        textField.val("").attr("disabled", true).removeAttr("required");
        if ($("#type_otra").is(":checked")) {
          textField.removeAttr("disabled").attr("required", true).focus();
        }
      });

      $("input:radio[name=character]").change(function() {
        var textField = $("#character_other");
        textField.val("").attr("disabled", true).removeAttr("required");
        if ($("#character_otra").is(":checked")) {
          textField.removeAttr("disabled").attr("required", true).focus();
        }
      });

      $("input:radio[name=has_platform]").change(function() {
        $("#platform_ownership_propia, #platform_ownership_terceros").attr("disabled", true).removeAttr("required").removeAttr("checked");
        if ($("#has_platform_si").is(":checked")) {
          $("#platform_ownership_propia, #platform_ownership_terceros").attr("required", true).removeAttr("disabled");
        }
      });

      $("input:checkbox[name=sources]").change(function() {
        // console.log($(this).attr("id"));
        var checked = $(this).is(":checked");
        $("#"+$(this).attr("id")+"_amount").attr("disabled", !checked).attr("required", checked);
        if (!checked)
          $("#"+$(this).attr("id")+"_amount").val("");
      });

      $("#source_otra").change(function() {
        // console.log($(this).attr("id"));
        var checked = $(this).is(":checked");
        $("#source_otra_name").attr("disabled", !checked).attr("required", checked);
        $("#source_otra_amount").attr("disabled", !checked).attr("required", checked);
        if (!checked) {
          $("#source_otra_name").val("");
          $("#source_otra_amount").val("");
        }
      });

      $("body").on("change", ".rate", function() {
        // console.log($(this).attr("name"));
        $("#"+$(this).attr("name")+"_percentage").val("");
        if ($("#"+$(this).attr("name")+"_fija").is(":checked")) {
          $("#"+$(this).attr("name")+"_label").html('Porcentaje anual: ');
          $("#"+$(this).attr("name")+"_percentage").attr("required", true).removeAttr("disabled");
        } else if ($("#"+$(this).attr("name")+"_variable").is(":checked")) {
          $("#"+$(this).attr("name")+"_label").html('Porcentaje promedio anual: ');
          $("#"+$(this).attr("name")+"_percentage").attr("required", true).removeAttr("disabled");
        }
      });

      $("body").on("change", ".repayment", function() {
        // console.log($(this).attr("name"));
        var textField = $("#"+$(this).attr("name")+"_other");
        textField.val("").attr("disabled", true).removeAttr("required");
        if ($("#"+$(this).attr("name")+"_otra").is(":checked")) {
          textField.removeAttr("disabled").attr("required", true).focus();
        }
      });

      $("body").on("change", ".warranties", function() {
        // console.log($(this).attr("name"));
        if ($("#"+$(this).attr("name")+"_otra").is(":checked")) {
          $("#"+$(this).attr("name")+"_other").removeAttr("disabled").attr("required", true);
        } else {
          $("#"+$(this).attr("name")+"_other").val("").removeAttr("required").attr("disabled", true);
        }
      });

      $("body").on("change", ".guarantors", function() {
        // console.log($(this).attr("name"));
        if ($("#"+$(this).attr("name")+"_otra").is(":checked")) {
          $("#"+$(this).attr("name")+"_other").removeAttr("disabled").attr("required", true);
        } else {
          $("#"+$(this).attr("name")+"_other").val("").removeAttr("required").attr("disabled", true);
        }
      });

      // $("body").on("change", ".credit", function() {
      //   console.log($(this).attr("name"));
      //   if ($("#"+$(this).attr("name")+"_pais").is(":checked") || $("#"+$(this).attr("name")+"_exterior").is(":checked")) {
      //     $("#" + $(this).attr("name") + "_new").attr("required", true).removeAttr("disabled");
      //     $("#" + $(this).attr("name") + "_old").attr("required", true).removeAttr("disabled");
      //   }
      // });
      $("input:radio[name=regulated]").change(function() {
        if ($("#regulated_si").is(":checked")) {
          $("#regulating_entity").attr("required", true).removeAttr("disabled");
        }else{
          $("#regulating_entity").val("").removeAttr("required").attr("disabled", true);
        }
      });

      $("input:radio[name=credit_rating]").change(function() {
        if ($("#credit_rating_si").is(":checked")) {
          $("#rating_agency").attr("required", true).removeAttr("disabled");
        }else{
          $("#rating_agency").val("").removeAttr("required").attr("disabled", true);
        }
      });

      $("input:checkbox[name=current_portfolio]").change(function() {
        // console.log($(this).attr("id"));
        var checked = $(this).is(":checked");
        $("#"+$(this).attr("id")+"_amount").attr("disabled", !checked).attr("required", checked);
        if (!checked)
          $("#"+$(this).attr("id")+"_amount").val("");
      });

      $("input:checkbox[name=pastdue_portfolio]").change(function() {
        // console.log($(this).attr("id"));
        var checked = $(this).is(":checked");
        $("#"+$(this).attr("id")+"_amount").attr("disabled", !checked).attr("required", checked);
        if (!checked)
          $("#"+$(this).attr("id")+"_amount").val("");
      });

      $("input:checkbox[name=execution_portfolio]").change(function() {
        // console.log($(this).attr("id"));
        var checked = $(this).is(":checked");
        $("#"+$(this).attr("id")+"_amount").attr("disabled", !checked).attr("required", checked);
        if (!checked)
          $("#"+$(this).attr("id")+"_amount").val("");
      });

      $("#risks_otra").change(function() {
        // console.log($(this).attr("id"));
        var checked = $(this).is(":checked");
        $("#risks_other").attr("disabled", !checked).attr("required", checked);
        if (!checked)
          $("#risks_other").val("");
      });

      $("input:radio[name=non_payment_risk]").change(function() {
        $("#non_payment_risk_si_universidades, #non_payment_risk_si_publico, #non_payment_risk_si_otra").attr("disabled", true).removeAttr("required").removeAttr("checked");
        $("#non_payment_risk_si_other").attr("disabled", true).val("").removeAttr("required");
        if ($("#non_payment_risk_si").is(":checked")) {
          $("#non_payment_risk_si_universidades, #non_payment_risk_si_publico, #non_payment_risk_si_otra").attr("required", true).removeAttr("disabled");
          $("#non_payment_risk_si_universidades").attr("checked", true);
        }
      });

      $("input:radio[name=non_payment_risk_si]").change(function() {
        // console.log($(this).attr("id"));
        var checked = $("#non_payment_risk_si_otra").is(":checked");
        $("#non_payment_risk_si_other").attr("disabled", !checked).attr("required", checked);
        if (!checked)
          $("#non_payment_risk_si_other").val("");
      });

      $("#pregrado_students").change(function() {
        criteria = document.getElementById("pregrado_students").value.length == 0 || document.getElementById("pregrado_students").value == "0";
        $("#pregrado_male_students").attr("disabled", criteria);
        $("#pregrado_female_students").attr("disabled", criteria);
        if (criteria){
          $("#pregrado_male_students").val("");
          $("#pregrado_female_students").val("");
        }
      });

      $("#posgrado_students").change(function() {
        criteria = document.getElementById("posgrado_students").value.length == 0 || document.getElementById("posgrado_students").value == "0";
        $("#posgrado_male_students").attr("disabled", criteria);
        $("#posgrado_female_students").attr("disabled", criteria);
        if (criteria){
          $("#posgrado_male_students").val("");
          $("#posgrado_female_students").val("");
        }
      });

      $("#pregrado_students_economic").change(function() {
        criteria = document.getElementById("pregrado_students_economic").value.length == 0 || document.getElementById("pregrado_students_economic").value == "0";
        $("#pregrado_high_students").attr("disabled", criteria);
        $("#pregrado_medium_students").attr("disabled", criteria);
        $("#pregrado_low_students").attr("disabled", criteria);
        if (criteria){
          $("#pregrado_high_students").val("");
          $("#pregrado_medium_students").val("");
          $("#pregrado_low_students").val("");
        }
      });

      $("#posgrado_students_economic").change(function() {
        criteria = document.getElementById("posgrado_students_economic").value.length == 0 || document.getElementById("posgrado_students_economic").value == "0";
        $("#posgrado_high_students").attr("disabled", criteria);
        $("#posgrado_medium_students").attr("disabled", criteria);
        $("#posgrado_low_students").attr("disabled", criteria);
        if (criteria){
          $("#posgrado_high_students").val("");
          $("#posgrado_medium_students").val("");
          $("#posgrado_low_students").val("");
        }
      });

      $("input:radio[name=pregrado_benefits]").change(function() {
        $("#pregrado_benefits_cuales").val("").attr("disabled", true).removeAttr("required");
        if ($("#pregrado_benefits_si").is(":checked")) {
          $("#pregrado_benefits_cuales").removeAttr("disabled").attr("required", true);
        }
      });

      $("input:radio[name=posgrado_benefits]").change(function() {
        $("#posgrado_benefits_cuales").val("").attr("disabled", true).removeAttr("required");
        if ($("#posgrado_benefits_si").is(":checked")) {
          $("#posgrado_benefits_cuales").removeAttr("disabled").attr("required", true);
        }
      });

      {{#each report.funding_sources as |obj|}}
        $("#source_{{obj.source}}").attr("checked", true);
        $("#source_{{obj.source}}_amount").val("{{obj.amount}}").attr("required", true).removeAttr("disabled");
        {{#if obj.name}}
          $("#source_otra_name").val("{{obj.name}}").attr("required", true).removeAttr("disabled");
        {{/if}}
      {{/each}}

      {{#if report.total_investment}}
        $("#total_investment").val("{{report.total_investment}}");
      {{/if}}

      {{#if report.total_students}}
        $("#total_students").val("{{report.total_students}}");
      {{/if}}

      {{#if report.total_students_year_since}}
        $("#total_students_year_since").val("{{report.total_students_year_since}}");
      {{/if}}

      {{#each report.current_portfolio as |obj|}}
        $("#current_portfolio_{{obj.name}}").attr("checked", true);
        $("#current_portfolio_{{obj.name}}_amount").val("{{obj.amount}}").attr("required", true).removeAttr("disabled");
      {{/each}}

      {{#if report.current_portfolio_pregrado_male}}
        $("#current_portfolio_pregrado_male").val("{{report.current_portfolio_pregrado_male}}");
      {{/if}}

      {{#if report.current_portfolio_pregrado_female}}
        $("#current_portfolio_pregrado_female").val("{{report.current_portfolio_pregrado_female}}");
      {{/if}}

      {{#if report.current_portfolio_posgrado_male}}
        $("#current_portfolio_posgrado_male").val("{{report.current_portfolio_posgrado_male}}");
      {{/if}}

      {{#if report.current_portfolio_posgrado_female}}
        $("#current_portfolio_posgrado_female").val("{{report.current_portfolio_posgrado_female}}");
      {{/if}}

      <!--{{#if report.studying_beneficiaries_amount}}-->
        <!--$("#studying_beneficiaries_amount").val("{{report.studying_beneficiaries_amount}}");-->
      <!--{{/if}}-->

      <!--{{#if report.graduated_beneficiaries_amount}}-->
        <!--$("#graduated_beneficiaries_amount").val("{{report.graduated_beneficiaries_amount}}");-->
      <!--{{/if}}-->

      {{#each report.pastdue_portfolio as |obj|}}
        $("#pastdue_portfolio_{{obj.name}}").attr("checked", true);
        $("#pastdue_portfolio_{{obj.name}}_amount").val("{{obj.amount}}").attr("required", true).removeAttr("disabled");
      {{/each}}

      {{#if report.pastdue_portfolio_pregrado_male}}
        $("#pastdue_portfolio_pregrado_male").val("{{report.pastdue_portfolio_pregrado_male}}");
      {{/if}}

      {{#if report.pastdue_portfolio_pregrado_female}}
        $("#pastdue_portfolio_pregrado_female").val("{{report.pastdue_portfolio_pregrado_female}}");
      {{/if}}

      {{#if report.pastdue_portfolio_posgrado_male}}
        $("#pastdue_portfolio_posgrado_male").val("{{report.pastdue_portfolio_posgrado_male}}");
      {{/if}}

      {{#if report.pastdue_portfolio_posgrado_female}}
        $("#pastdue_portfolio_posgrado_female").val("{{report.pastdue_portfolio_posgrado_female}}");
      {{/if}}

      {{#each report.execution_portfolio as |obj|}}
        $("#execution_portfolio_{{obj.name}}").attr("checked", true);
        $("#execution_portfolio_{{obj.name}}_amount").val("{{obj.amount}}").attr("required", true).removeAttr("disabled");
      {{/each}}

      {{#if report.execution_portfolio_pregrado_male}}
        $("#execution_portfolio_pregrado_male").val("{{report.execution_portfolio_pregrado_male}}");
      {{/if}}

      {{#if report.execution_portfolio_pregrado_female}}
        $("#execution_portfolio_pregrado_female").val("{{report.execution_portfolio_pregrado_female}}");
      {{/if}}

      {{#if report.execution_portfolio_posgrado_male}}
        $("#execution_portfolio_posgrado_male").val("{{report.execution_portfolio_posgrado_male}}");
      {{/if}}

      {{#if report.execution_portfolio_posgrado_female}}
        $("#execution_portfolio_posgrado_female").val("{{report.execution_portfolio_posgrado_female}}");
      {{/if}}

      {{#each report.risks as |risk|}}
        $("#risks_{{risk}}").attr("checked", true);
      {{/each}}
      if ($("#risks_otra").is(":checked")) {
        $("#risks_other").val("{{report.risks_other}}").attr("required", true).removeAttr("disabled");
      }

      {{#if report.risk_increasing_actions}}
        $("#risk_increasing_actions").val(`{{report.risk_increasing_actions}}`);
      {{/if}}

      {{#if report.risk_mitigating_actions}}
        $("#risk_mitigating_actions").val(`{{report.risk_mitigating_actions}}`);
      {{/if}}

      {{#if report.non_payment_risk}}
        $("#non_payment_risk_{{report.non_payment_risk.risk}}").attr("checked", true);
        if ($("#non_payment_risk_si").is(":checked"))
          $("#non_payment_risk_si_universidades, #non_payment_risk_si_publico, #non_payment_risk_si_otra").attr("required", true).removeAttr("disabled");
        {{#if report.non_payment_risk.name}}
          $("#non_payment_risk_si_{{report.non_payment_risk.name}}").attr("checked", true);
          {{#if report.non_payment_risk.other}}
            $("#non_payment_risk_si_other").val("{{report.non_payment_risk.other}}").attr("required", true).removeAttr("disabled");
          {{/if}}
        {{/if}}
      {{/if}}

      {{#if report.pregrado_students}}
        $("#pregrado_students").val("{{report.pregrado_students}}");
      {{/if}}

      {{#if report.posgrado_students}}
        $("#posgrado_students").val("{{report.posgrado_students}}");
      {{/if}}

      {{#if report.pregrado_male_students}}
        $("#pregrado_male_students").val("{{report.pregrado_male_students}}");
      {{/if}}

      {{#if report.pregrado_female_students}}
        $("#pregrado_female_students").val("{{report.pregrado_female_students}}");
      {{/if}}

      {{#if report.posgrado_male_students}}
        $("#posgrado_male_students").val("{{report.posgrado_male_students}}");
      {{/if}}

      {{#if report.posgrado_female_students}}
        $("#posgrado_female_students").val("{{report.posgrado_female_students}}");
      {{/if}}

      {{#if report.pregrado_students_economic}}
        $("#pregrado_students_economic").val("{{report.pregrado_students_economic}}");
      {{/if}}

      {{#if report.posgrado_students_economic}}
        $("#posgrado_students_economic").val("{{report.posgrado_students_economic}}");
      {{/if}}

      {{#if report.pregrado_high_students}}
        $("#pregrado_high_students").val("{{report.pregrado_high_students}}");
      {{/if}}

      {{#if report.pregrado_medium_students}}
        $("#pregrado_medium_students").val("{{report.pregrado_medium_students}}");
      {{/if}}

      {{#if report.pregrado_low_students}}
        $("#pregrado_low_students").val("{{report.pregrado_low_students}}");
      {{/if}}

      {{#if report.posgrado_high_students}}
        $("#posgrado_high_students").val("{{report.posgrado_high_students}}");
      {{/if}}

      {{#if report.posgrado_medium_students}}
        $("#posgrado_medium_students").val("{{report.posgrado_medium_students}}");
      {{/if}}

      {{#if report.posgrado_low_students}}
        $("#posgrado_low_students").val("{{report.posgrado_low_students}}");
      {{/if}}

      {{#if report.pregrado_graduate_percentage}}
        $("#pregrado_graduate_percentage").val("{{report.pregrado_graduate_percentage}}");
      {{/if}}

      {{#if report.posgrado_graduate_percentage}}
        $("#posgrado_graduate_percentage").val("{{report.posgrado_graduate_percentage}}");
      {{/if}}

      {{#if report.pregrado_benefits}}
        $("#pregrado_benefits_{{report.pregrado_benefits.option}}").attr("checked", true);
        if ($("#pregrado_benefits_si").is(":checked"))
          $("#pregrado_benefits_cuales").val("{{report.pregrado_benefits.names}}").attr("required", true).removeAttr("disabled");
      {{/if}}

      {{#if report.posgrado_benefits}}
        $("#posgrado_benefits_{{report.posgrado_benefits.option}}").attr("checked", true);
        if ($("#posgrado_benefits_si").is(":checked"))
          $("#posgrado_benefits_cuales").val("{{report.posgrado_benefits.names}}").attr("required", true).removeAttr("disabled");
      {{/if}}

      {{#if report.programs}}
        $("#program_quantity").val("{{report.programs.length}}").trigger("change");
        {{#each report.programs as |obj index|}}
          {{#if obj.level}}
            $("#program"+({{index}}+1)+"_level_{{obj.level}}").attr("checked", true);
          {{/if}}
          {{#if obj.name}}
            $("#program"+({{index}}+1)+"_name").val("{{obj.name}}");
          {{/if}}
          {{#if obj.beneficiaries}}
            $("#program"+({{index}}+1)+"_beneficiaries").val("{{obj.beneficiaries}}");
          {{/if}}
          {{#if obj.term}}
            $("#program"+({{index}}+1)+"_term").val("{{obj.term}}");
          {{/if}}
          {{#if obj.investment}}
            $("#program"+({{index}}+1)+"_investment").val("{{obj.investment}}");
          {{/if}}
          {{#if obj.rate}}
            $("#program"+({{index}}+1)+"_rate_{{obj.rate.type}}").attr("checked", true);
            $("#program"+({{index}}+1)+"_rate_percentage").val("{{obj.rate.percentage}}").attr("required", true).removeAttr("disabled");
          {{/if}}
          {{#if obj.repayment}}
            $("#program"+({{index}}+1)+"_repayment_{{obj.repayment.type}}").attr("checked", true);
            if ($("#program"+({{index}}+1)+"_repayment_otra").is(":checked"))
              $("#program"+({{index}}+1)+"_repayment_other").val("{{obj.repayment.other}}").attr("required", true).removeAttr("disabled");
          {{/if}}
          {{#if obj.grace}}
            $("#program"+({{index}}+1)+"_grace").val("{{obj.grace}}");
          {{/if}}
          {{#if obj.warranties}}
            {{#each obj.warranties as |warranty|}}
              $("#program"+({{index}}+1)+"_warranties_{{warranty}}").attr("checked", true);
            {{/each}}
            if ($("#program"+({{index}}+1)+"_warranties_otra").is(":checked"))
              $("#program"+({{index}}+1)+"_warranties_other").val("{{obj.warranties_other}}").attr("required", true).removeAttr("disabled");
          {{/if}}
          {{#if obj.guarantors}}
            {{#each obj.guarantors as |guarantor|}}
              $("#program"+({{index}}+1)+"_guarantors_{{guarantor}}").attr("checked", true);
            {{/each}}
            if ($("#program"+({{index}}+1)+"_guarantors_otra").is(":checked"))
              $("#program"+({{index}}+1)+"_guarantors_other").val("{{obj.guarantors_other}}").attr("required", true).removeAttr("disabled");
          {{/if}}
          {{#if obj.credit_pais}}
            $("#program"+({{index}}+1)+"_credit_pais_new").val("{{obj.credit_pais.new}}");
            $("#program"+({{index}}+1)+"_credit_pais_old").val("{{obj.credit_pais.old}}");
          {{/if}}
          {{#if obj.credit_exterior}}
            $("#program"+({{index}}+1)+"_credit_exterior_new").val("{{obj.credit_exterior.new}}");
            $("#program"+({{index}}+1)+"_credit_exterior_old").val("{{obj.credit_exterior.old}}");
          {{/if}}
        {{/each}}
      {{/if}}

      // $("#tooltip").attr('data-tip', );
      // console.log($("#tooltip").attr('data-tip'));
    });
  </script>
	<script type="text/javascript">
    function changePanelsQuantity(value) {
      // console.log(value);
      let container = $("#programs_container");

      let current_quantity = container.children().length;
      // console.log(current_quantity);
      let target_quantity = value - current_quantity;
      if (target_quantity > 0) {
        for (let i = current_quantity + 1; i <= value; i++) {
          var html = `
            <div class="x_panel">
              <div class="x_title">
                <h2>Programa ${i} </h2>
                <div class="nav navbar-right">
                  <a class="collapse-link pointer">
                    <i class="fa fa-chevron-up"></i>
                  </a>
                </div>
                <div class="clearfix"></div>
              </div>
              <div class="x_content">
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">
                    Nivel
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="radio">
                      <label>
                        <input class="level" type="radio" value="pregrado" id="${'program'+i+'_level_pregrado'}" name="${'program'+i+'_level'}" checked required>
                        Pregrado
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input class="level" type="radio" value="posgrado" id="${'program'+i+'_level_posgrado'}" name="${'program'+i+'_level'}">
                        Posgrado
                      </label>
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="${'program'+i+'_name'}">
                    1. Nombre del Programa o Línea de C.E.
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="${'program'+i+'_name'}" name="${'program'+i+'_name'}" class="form-control" required>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="${'program'+i+'_beneficiaries'}">
                    2. Número de beneficiarios por año
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="${'program'+i+'_beneficiaries'}" name="${'program'+i+'_beneficiaries'}" class="autonumeric mt-1"
                           min="0" step="1">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="${'program'+i+'_term'}">
                    3. Plazo (en meses)
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="${'program'+i+'_term'}" name="${'program'+i+'_term'}" class="autonumeric mt-1"
                           min="0" step="0.01">
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="${'program'+i+'_investment'}">
                    4. Monto total de recursos invertidos por año (USD al cierre del año fiscal)
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input step="0.001" type="text" id="${'program'+i+'_investment'}" name="${'program'+i+'_investment'}" class="autonumeric mt-2"
                           min="0">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                    5. Tasa de interés (anual)
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="radio">
                      <label>
                        <input class="rate" type="radio" value="fija" id="${'program'+i+'_rate_fija'}" name="${'program'+i+'_rate'}">
                        Fija
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input class="rate" type="radio" value="variable" id="${'program'+i+'_rate_variable'}" name="${'program'+i+'_rate'}">
                        Variable
                      </label>
                    </div>
                    <label id="${'program'+i+'_rate_label'}" for="${'program'+i+'_rate_percentage'}">Porcentaje anual: </label>
                    <input class="autonumeric" type="text" step="0.01" id="${'program'+i+'_rate_percentage'}" name="${'program'+i+'_rate_percentage'}" min="0" disabled> %
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                    6. Tipo de repago
                    <span id="tooltip" class="tool" data-tip="Se refiere a la forma de recuperación del crédito"
                                tabindex="1">
                      <i class="fa fa-question-circle"></i>
                    </span>
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <div class="radio">
                      <label>
                        <input class="repayment" type="radio" value="fijo" id="${'program'+i+'_repayment_fijo'}" name="${'program'+i+'_repayment'}">
                        Fijo
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input class="repayment" type="radio" value="creciente" id="${'program'+i+'_repayment_creciente'}" name="${'program'+i+'_repayment'}">
                        Creciente
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input class="repayment" type="radio" value="salario" id="${'program'+i+'_repayment_salario'}" name="${'program'+i+'_repayment'}">
                        En función del salario
                      </label>
                    </div>
                    <div class="radio">
                      <label>
                        <input class="repayment" type="radio" value="otra" id="${'program'+i+'_repayment_otra'}" name="${'program'+i+'_repayment'}">
                        Otra
                      </label>
                      <label for="${'program'+i+'_repayment_other'}"></label>
                      <input type="text" disabled id="${'program'+i+'_repayment_other'}" name="${'program'+i+'_repayment_other'}">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12" for="${'program'+i+'_grace'}">
                    7. Periodo de gracia (meses)
                    <span id="tooltip" class="tool" data-tip="Se refiere al tiempo que tiene el beneficiario entre la finalización del desembolso del crédito y comenzar el repago."
                                tabindex="1">
                      <i class="fa fa-question-circle"></i>
                    </span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="${'program'+i+'_grace'}" name="${'program'+i+'_grace'}" class="autonumeric mt-1" min="0" step="0.01">
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                    8. Tipo de garantías
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="checkbox">
                      <label>
                        <input class="warranties" type="checkbox" value="personal" id="${'program'+i+'_warranties_personal'}" name="${'program'+i+'_warranties'}">
                        Personal (codeudor, obligado solidario)
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input class="warranties" type="checkbox" value="real" id="${'program'+i+'_warranties_real'}" name="${'program'+i+'_warranties'}">
                        Real (pagaré, hipoteca)
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input class="warranties" type="checkbox" value="mixta" id="${'program'+i+'_warranties_mixta'}" name="${'program'+i+'_warranties'}">
                        Mixta
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input class="warranties" type="checkbox" value="seguro" id="${'program'+i+'_warranties_seguro'}" name="${'program'+i+'_warranties'}">
                        Seguro de vida
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input class="warranties" type="checkbox" value="no" id="${'program'+i+'_warranties_no'}" name="${'program'+i+'_warranties'}">
                        No tiene
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input class="warranties" type="checkbox" value="otra" id="${'program'+i+'_warranties_otra'}" name="${'program'+i+'_warranties'}">
                        Otra
                      </label>
                      <label for="${'program'+i+'_warranties_other'}"></label>
                      <input type="text" disabled id="${'program'+i+'_warranties_other'}" name="${'program'+i+'_warranties_other'}">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                    9. Tipo de codeudor o fiador
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <div class="checkbox">
                      <label>
                        <input class="guarantors" type="checkbox" value="estudiante" id="${'program'+i+'_guarantors_estudiante'}" name="${'program'+i+'_guarantors'}">
                        El mismo estudiante
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input class="guarantors" type="checkbox" value="padre" id="${'program'+i+'_guarantors_padre'}" name="${'program'+i+'_guarantors'}">
                        Padre de familia
                      </label>
                    </div>
                    <div class="checkbox">
                      <label>
                        <input class="guarantors" type="checkbox" value="otra" id="${'program'+i+'_guarantors_otra'}" name="${'program'+i+'_guarantors'}">
                        Otra
                      </label>
                      <label for="${'program'+i+'_guarantors_other'}"></label>
                      <input type="text" disabled id="${'program'+i+'_guarantors_other'}" name="${'program'+i+'_guarantors_other'}">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                    10. Número de créditos otorgados por año en el País
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12 pt">
                    <div>
                      <label for="${'program'+i+'_credit_pais_new'}">Créditos nuevos: </label>
                      <input class="autonumeric" type="text" id="${'program'+i+'_credit_pais_new'}" name="${'program'+i+'_credit_pais_new'}" min="0">
                    </div>
                    <div>
                      <label for="${'program'+i+'_credit_pais_old'}">Créditos antiguos: </label>
                      <input class="autonumeric" type="text" id="${'program'+i+'_credit_pais_old'}" name="${'program'+i+'_credit_pais_old'}" min="0">
                    </div>
                  </div>
                </div>
                <div class="form-group">
                  <label class="col-md-3 col-sm-3 col-xs-12 control-label">
                    10A. Número de créditos otorgados por año en el Exterior
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12 pt">
                    <div>
                      <label for="${'program'+i+'_credit_exterior_new'}">Créditos nuevos: </label>
                      <input class="autonumeric" type="text" id="${'program'+i+'_credit_exterior_new'}" name="${'program'+i+'_credit_exterior_new'}" min="0">
                    </div>
                    <div>
                      <label for="${'program'+i+'_credit_exterior_old'}">Créditos antiguos: </label>
                      <input class="autonumeric" type="text" id="${'program'+i+'_credit_exterior_old'}" name="${'program'+i+'_credit_exterior_old'}" min="0">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          `;
          container.append(html);
        }
      } else {
        target_quantity *= -1;
        for (let i = 0; i < target_quantity; i++) {
          $("#programs_container .x_panel").last().remove();
        }
      }
    }

    function sendForReview() {
      console.log($("#complete").attr('value'));
      if ($("#complete").attr('value')==1){
        $("#accept").attr('formnovalidate','formnovalidate');
        $("#demo-form2").submit();
        console.log("second enviar");
      }
      $('<input />').attr('type', 'hidden')
          .attr('id', "complete")
          .attr('name', "complete")
          .attr('value', 1)
          .appendTo('#demo-form2');
      $("#demo-form2").validate({
        submitHandler: function(form) {
          console.log($("#complete").attr('value'));
          form.submit();
        }
      });
    }

    function validateTotalCurrentPortfolio() {
      let total1 = Number($("#current_portfolio_pregrado_pais_amount").val()) +
              Number($("#current_portfolio_pregrado_exterior_amount").val()) +
              Number($("#current_portfolio_posgrado_pais_amount").val()) +
              Number($("#current_portfolio_posgrado_exterior_amount").val());
      let total2 = Number($("#current_portfolio_pregrado_female").val()) +
              Number($("#current_portfolio_pregrado_male").val()) +
              Number($("#current_portfolio_posgrado_female").val()) +
              Number($("#current_portfolio_posgrado_male").val());

      //console.log(total1 + " - " + total2);
      return total1 === total2;
    }

    window.Parsley.addValidator('currentPortfolio', {
      validateNumber: function() {
        return validateTotalCurrentPortfolio();
      },
      messages: {
        es: 'Los totales de las preguntas 7 y 7A deben coincidir'
      }
    });

    function validateTotalPastduePortfolio() {
      let total1 = Number($("#pastdue_portfolio_pregrado_pais_amount").val()) +
              Number($("#pastdue_portfolio_pregrado_exterior_amount").val()) +
              Number($("#pastdue_portfolio_posgrado_pais_amount").val()) +
              Number($("#pastdue_portfolio_posgrado_exterior_amount").val());
      let total2 = Number($("#pastdue_portfolio_pregrado_female").val()) +
              Number($("#pastdue_portfolio_pregrado_male").val()) +
              Number($("#pastdue_portfolio_posgrado_female").val()) +
              Number($("#pastdue_portfolio_posgrado_male").val());

      //console.log(total1 + " - " + total2);
      return total1 === total2;
    }

    window.Parsley.addValidator('pastduePortfolio', {
      validateNumber: function() {
        return validateTotalPastduePortfolio();
      },
      messages: {
        es: 'Los totales de las preguntas 8 y 8A deben coincidir'
      }
    });
  </script>
  </body>
<!--</html>-->
