<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
  <!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <!--&lt;!&ndash; Meta, title, CSS, favicons, etc. &ndash;&gt;-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <!--<title>Gentelella Alela! | </title>-->

    <!--&lt;!&ndash; Bootstrap &ndash;&gt;-->
    <!--<link href="bootstrap.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Font Awesome &ndash;&gt;-->
    <!--<link href="font-awesome.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; NProgress &ndash;&gt;-->
    <!--<link href="nprogress.css" rel="stylesheet">-->
    <!--&lt;!&ndash; iCheck &ndash;&gt;-->
    <!--<link href="green.css" rel="stylesheet">-->
	<!---->
    <!--&lt;!&ndash; bootstrap-progressbar &ndash;&gt;-->
    <!--<link href="bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; JQVMap &ndash;&gt;-->
    <!--<link href="jqvmap.min.css" rel="stylesheet"/>-->
    <!--&lt;!&ndash; bootstrap-daterangepicker &ndash;&gt;-->
    <!--<link href="daterangepicker.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom Theme Style &ndash;&gt;-->
    <!--<link href="custom.css" rel="stylesheet">-->
  <!--</head>-->

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <!-- left side navbar -->
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index" class="site_title">
                <!--<i class="fa fa-paw"></i> -->
                <img src="siece_colores.png">
                <span>SIECE</span>
              </a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            {{#if user}}
              <div class="profile clearfix">
                <div class="profile_pic">
                  <img src="img.png" alt="..." class="img-circle profile_img">
                </div>
                <div class="profile_info">
                  <span>Bienvenido,</span>
                  <h2>{{#if user.displayName}}{{user.displayName}}{{else}}{{user.email}}{{/if}}</h2>
                </div>
              </div>
            {{/if}}
            <!-- /menu profile quick info -->
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li>
                    <a href="index"><i class="fa fa-home"></i> Dashboard</a>
                  </li>
                  <li>
                    <a href="indicadores"><i class="fa fa-bar-chart"></i> Indicadores</a>
                  </li>
                  {{#if user}}
                    {{#unless is_admin}}
                      <li>
                        <a href="perfil"><i class="fa fa-user"></i> Perfil</a>
                      </li>
                      <li>
                        <a href="formularios"><i class="fa fa-edit"></i> Formularios</a>
                      </li>
                    {{/unless}}
                  {{/if}}
                  {{#if is_admin}}
                    <li>
                      <a href="admin"><i class="fa fa-pencil"></i> Administrador</a>
                    </li>
                  {{/if}}
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>
        <!-- /left side navbar -->
        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav class="navbar">
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <div class="navbar-brand">
                <span style="color: #73879C">
                  <strong>Información General de Crédito Educativo en el último Año Reportado</strong>
                </span>
              </div>
              <!--<a href="http://web.apice.org.co">-->
                <!--<img src="Banner-APICE.png">-->
              <!--</a>-->
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  {{#if user}}
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <img src="img.png" alt="">{{#if user.displayName}}{{user.displayName}}{{else}}{{user.email}}{{/if}}
                      <span class="fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                      {{#if is_admin}}
                      {{else}}
                        <li><a href="perfil"> Perfil</a></li>
                      {{/if}}
                      <!--<li><a onclick="firebase.auth().signOut()"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a></li>-->
                      <li><a onclick="logout()"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a></li>
                    </ul>
                  {{else}}
                    <a href="login"><i class="fa fa-sign-in pull-right mt-1"></i> Iniciar Sesión</a>
                  {{/if}}
                </li>
                <li>
                  <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/siece-app.appspot.com/o/INSTRUCTIVO%20SIECE%20hoja%20V2.pdf?alt=media&token=71fd0ac7-21d4-4f7e-9e58-4832cf332850" >
                    <strong style="color: #1ABB9C">Instructivo <i class="fa fa-book"></i></strong>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->
        <!-- page content -->
        <div class="right_col" role="main">
          <!-- top tiles -->
          <div class="row tile_count">
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <h4 class="count_top"><i class="fa fa-calendar"></i> Año Reportado</h4>
              <div class="count">
                {{#if reported_year}}
                  {{reported_year}}
                {{else}}
                  -
                {{/if}}
              </div>
              <!--<span class="count_bottom"><i class="green">4% </i> From last Week</span>-->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <h4 class="count_top"><i class="fa fa-edit"></i> N° de Instituciones</h4>
              <div class="count">
                {{#if forms}}
                  {{forms}}
                {{else}}
                  -
                {{/if}}
              </div>
              <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>3% </i> From last Week</span>-->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <h4 class="count_top"><i class="fa fa-users"></i> Total de Beneficiarios</h4>
              <div class="count green">
                {{#if total_beneficiaries}}
                  {{total_beneficiaries}}
                {{else}}
                  -
                {{/if}}
              </div>
              <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <h4 class="count_top"><i class="fa fa-venus"></i> Porcentaje de Mujeres</h4>
              <div class="count">
                {{#if percentage_female}}
                  {{percentage_female}}%
                {{else}}
                  -
                {{/if}}
              </div>
              <!--<span class="count_bottom"><i class="red"><i class="fa fa-sort-desc"></i>12% </i> From last Week</span>-->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <h4 class="count_top"><i class="fa fa-mars"></i> Porcentaje de Hombres</h4>
              <div class="count">
                {{#if percentage_male}}
                  {{percentage_male}}%
                {{else}}
                  -
                {{/if}}
              </div>
              <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
            </div>
            <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
              <h4 class="count_top"><i class="fa fa-money"></i> Total invertido en dólares</h4>
              <h4 class="green custom-count">
                {{#if total_investment}}
                  USD {{total_investment}}
                {{else}}
                  -
                {{/if}}
              </h4>
              <!--<span class="count_bottom"><i class="green"><i class="fa fa-sort-asc"></i>34% </i> From last Week</span>-->
            </div>
          </div>
          <!-- /top tiles -->

          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="dashboard_graph">

                <div class="row x_title">
                  <div class="col-md-6">
                    <h3>Inversión en Crédito Educativo por País</h3>
                  </div>
                  <!--<div class="col-md-6">-->
                    <!--<div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc">-->
                      <!--<i class="glyphicon glyphicon-calendar fa fa-calendar"></i>-->
                      <!--<span>December 30, 2014 - January 28, 2015</span> <b class="caret"></b>-->
                    <!--</div>-->
                  <!--</div>-->
                </div>

                <div class="col-md-9 col-sm-9 col-xs-12">
                  <div id="chart" class="demo-placeholder"></div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
                  <div class="x_title">
                    <h3>Top Inversiones por Institución</h3>
                    <div class="clearfix"></div>
                  </div>

                  <div class="col-md-12 col-sm-12 col-xs-6">
                    {{#each investment_by_institution}}
                      <div>
                        <p>
                          {{#if this.institution_name}}
                            {{this.institution_name}}
                          {{else}}
                            'name not set'
                          {{/if}}: USD {{this.amount}}
                        </p>
                        <div class="">
                          <div class="progress progress_sm" style="width: 76%;">
                            <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="{{this.progress}}"></div>
                          </div>
                        </div>
                      </div>
                    {{/each}}
                    <!--<div>-->
                      <!--<p>Facebook Campaign</p>-->
                      <!--<div class="">-->
                        <!--<div class="progress progress_sm" style="width: 76%;">-->
                          <!--<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="100"></div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->
                      <!--<p>Twitter Campaign</p>-->
                      <!--<div class="">-->
                        <!--<div class="progress progress_sm" style="width: 76%;">-->
                          <!--<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                  <!--<div class="col-md-12 col-sm-12 col-xs-6">-->
                    <!--<div>-->
                      <!--<p>Conventional Media</p>-->
                      <!--<div class="">-->
                        <!--<div class="progress progress_sm" style="width: 76%;">-->
                          <!--<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div>-->
                      <!--<p>Bill boards</p>-->
                      <!--<div class="">-->
                        <!--<div class="progress progress_sm" style="width: 76%;">-->
                          <!--<div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                  </div>

                </div>

                <div class="clearfix"></div>
              </div>
            </div>

          </div>
          <br />

          <div class="row">


            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile">
                <div class="x_title">
                  <h2>SIECE</h2>
                  <!--<ul class="nav navbar-right panel_toolbox">-->
                    <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                      <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Settings 1</a>-->
                        <!--</li>-->
                        <!--<li><a href="#">Settings 2</a>-->
                        <!--</li>-->
                      <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                    <!--</li>-->
                  <!--</ul>-->
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p>
                    La Asociación Panamericana de Instituciones de Crédito Educativo, APICE, presenta el Sistema de
                    Información Estadístico sobre Crédito Educativo - SIECE, que cuenta con estadísticas de los
                    distintos países e instituciones de América Latina y el Caribe relacionadas con el tema. El SIECE
                    permitirá estrechar la cooperación entre actores nacionales e internacionales para compartir
                    información estandarizada, válida, confiable, actualizada y oportuna sobre crédito educativo.
                  </p>
                  <!--<h4>App Usage across versions</h4>-->
                  <!--<div class="widget_summary">-->
                    <!--<div class="w_left w_25">-->
                      <!--<span>0.1.5.2</span>-->
                    <!--</div>-->
                    <!--<div class="w_center w_55">-->
                      <!--<div class="progress">-->
                        <!--<div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 66%;">-->
                          <!--<span class="sr-only">60% Complete</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="w_right w_20">-->
                      <!--<span>123k</span>-->
                    <!--</div>-->
                    <!--<div class="clearfix"></div>-->
                  <!--</div>-->
                  <!--<div class="widget_summary">-->
                    <!--<div class="w_left w_25">-->
                      <!--<span>0.1.5.3</span>-->
                    <!--</div>-->
                    <!--<div class="w_center w_55">-->
                      <!--<div class="progress">-->
                        <!--<div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 45%;">-->
                          <!--<span class="sr-only">60% Complete</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="w_right w_20">-->
                      <!--<span>53k</span>-->
                    <!--</div>-->
                    <!--<div class="clearfix"></div>-->
                  <!--</div>-->
                  <!--<div class="widget_summary">-->
                    <!--<div class="w_left w_25">-->
                      <!--<span>0.1.5.4</span>-->
                    <!--</div>-->
                    <!--<div class="w_center w_55">-->
                      <!--<div class="progress">-->
                        <!--<div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 25%;">-->
                          <!--<span class="sr-only">60% Complete</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="w_right w_20">-->
                      <!--<span>23k</span>-->
                    <!--</div>-->
                    <!--<div class="clearfix"></div>-->
                  <!--</div>-->
                  <!--<div class="widget_summary">-->
                    <!--<div class="w_left w_25">-->
                      <!--<span>0.1.5.5</span>-->
                    <!--</div>-->
                    <!--<div class="w_center w_55">-->
                      <!--<div class="progress">-->
                        <!--<div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 5%;">-->
                          <!--<span class="sr-only">60% Complete</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="w_right w_20">-->
                      <!--<span>3k</span>-->
                    <!--</div>-->
                    <!--<div class="clearfix"></div>-->
                  <!--</div>-->
                  <!--<div class="widget_summary">-->
                    <!--<div class="w_left w_25">-->
                      <!--<span>0.1.5.6</span>-->
                    <!--</div>-->
                    <!--<div class="w_center w_55">-->
                      <!--<div class="progress">-->
                        <!--<div class="progress-bar bg-green" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 2%;">-->
                          <!--<span class="sr-only">60% Complete</span>-->
                        <!--</div>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div class="w_right w_20">-->
                      <!--<span>1k</span>-->
                    <!--</div>-->
                    <!--<div class="clearfix"></div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>

            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile overflow_hidden">
                <div class="x_title">
                  <h2>Objetivos</h2>
                  <!--<ul class="nav navbar-right panel_toolbox">-->
                    <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                      <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Settings 1</a>-->
                        <!--</li>-->
                        <!--<li><a href="#">Settings 2</a>-->
                        <!--</li>-->
                      <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                    <!--</li>-->
                  <!--</ul>-->
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <ul>
                    <li>Identificar las variables pertinentes para la construcción de indicadores de interés general de
                      los beneficiarios de la información de crédito educativo.</li>
                    <li>Identificar las fuentes e instituciones que pueden suministrar la información necesaria que se
                      difundirá mediante el sistema de información.</li>
                    <li>Definir un mecanismo de acopio y manejo de la información recopilada para facilitar la
                      construcción de estadísticas e indicadores de apoyo al crédito educativo.</li>
                    <li>Definir estrategias que permitan realizar la búsqueda de información primaria y secundaria, su
                      procesamiento, análisis, y la construcción de indicadores y estadísticas, que se
                      compartirán entre los beneficiarios.</li>
                    <li>Conformar redes de apoyo e intercambio de información entre los actores nacionales e
                      internacionales.</li>
                  </ul>
                  <!--<table class="" style="width:100%">-->
                    <!--<tr>-->
                      <!--<th style="width:37%;">-->
                        <!--<p>Top 5</p>-->
                      <!--</th>-->
                      <!--<th>-->
                        <!--<div class="col-lg-7 col-md-7 col-sm-7 col-xs-7">-->
                          <!--<p class="">Device</p>-->
                        <!--</div>-->
                        <!--<div class="col-lg-5 col-md-5 col-sm-5 col-xs-5">-->
                          <!--<p class="">Progress</p>-->
                        <!--</div>-->
                      <!--</th>-->
                    <!--</tr>-->
                    <!--<tr>-->
                      <!--<td>-->
                        <!--<canvas class="canvasDoughnut" height="140" width="140" style="margin: 15px 10px 10px 0"></canvas>-->
                      <!--</td>-->
                      <!--<td>-->
                        <!--<table class="tile_info">-->
                          <!--<tr>-->
                            <!--<td>-->
                              <!--<p><i class="fa fa-square blue"></i>IOS </p>-->
                            <!--</td>-->
                            <!--<td>30%</td>-->
                          <!--</tr>-->
                          <!--<tr>-->
                            <!--<td>-->
                              <!--<p><i class="fa fa-square green"></i>Android </p>-->
                            <!--</td>-->
                            <!--<td>10%</td>-->
                          <!--</tr>-->
                          <!--<tr>-->
                            <!--<td>-->
                              <!--<p><i class="fa fa-square purple"></i>Blackberry </p>-->
                            <!--</td>-->
                            <!--<td>20%</td>-->
                          <!--</tr>-->
                          <!--<tr>-->
                            <!--<td>-->
                              <!--<p><i class="fa fa-square aero"></i>Symbian </p>-->
                            <!--</td>-->
                            <!--<td>15%</td>-->
                          <!--</tr>-->
                          <!--<tr>-->
                            <!--<td>-->
                              <!--<p><i class="fa fa-square red"></i>Others </p>-->
                            <!--</td>-->
                            <!--<td>30%</td>-->
                          <!--</tr>-->
                        <!--</table>-->
                      <!--</td>-->
                    <!--</tr>-->
                  <!--</table>-->
                </div>
              </div>
            </div>


            <div class="col-md-4 col-sm-4 col-xs-12">
              <div class="x_panel tile">
                <div class="x_title">
                  <h2>Beneficiarios</h2>
                  <!--<ul class="nav navbar-right panel_toolbox">-->
                    <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                      <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Settings 1</a>-->
                        <!--</li>-->
                        <!--<li><a href="#">Settings 2</a>-->
                        <!--</li>-->
                      <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                    <!--</li>-->
                  <!--</ul>-->
                  <div class="clearfix"></div>
                </div>
                <div class="x_content">
                  <p>
                    Como beneficiarios principales de la información que se maneja en el SIECE, se han identificado los siguientes:
                  </p>
                  <ul>
                    <li>Organismos internacionales.</li>
                    <li>Entidades gubernamentales de los países de América Latina y el Caribe.</li>
                    <li>Instituciones, programas y servicios de crédito educativo e instituciones de educación superior
                      de los países de América Latina y el Caribe.</li>
                    <li>Sociedad civil, investigadores, académicos y estudiantes interesados en el tema.</li>
                  </ul>
                  <!--<div class="dashboard-widget-content">-->
                    <!--<ul class="quick-list">-->
                      <!--<li><i class="fa fa-calendar-o"></i><a href="#">Settings</a>-->
                      <!--</li>-->
                      <!--<li><i class="fa fa-bars"></i><a href="#">Subscription</a>-->
                      <!--</li>-->
                      <!--<li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>-->
                      <!--<li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>-->
                      <!--</li>-->
                      <!--<li><i class="fa fa-bar-chart"></i><a href="#">Auto Renewal</a> </li>-->
                      <!--<li><i class="fa fa-line-chart"></i><a href="#">Achievements</a>-->
                      <!--</li>-->
                      <!--<li><i class="fa fa-area-chart"></i><a href="#">Logout</a>-->
                      <!--</li>-->
                    <!--</ul>-->

                    <!--<div class="sidebar-widget">-->
                        <!--<h4>Profile Completion</h4>-->
                        <!--<canvas width="150" height="80" id="chart_gauge_01" class="" style="width: 160px; height: 100px;"></canvas>-->
                        <!--<div class="goal-wrapper">-->
                          <!--<span id="gauge-text" class="gauge-value pull-left">0</span>-->
                          <!--<span class="gauge-value pull-left">%</span>-->
                          <!--<span id="goal-text" class="goal-value pull-right">100%</span>-->
                        <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                </div>
              </div>
            </div>

          </div>


          <!--<div class="row">-->
            <!--<div class="col-md-4 col-sm-4 col-xs-12">-->
              <!--<div class="x_panel">-->
                <!--<div class="x_title">-->
                  <!--<h2>Recent Activities <small>Sessions</small></h2>-->
                  <!--<ul class="nav navbar-right panel_toolbox">-->
                    <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                    <!--</li>-->
                    <!--<li class="dropdown">-->
                      <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                      <!--<ul class="dropdown-menu" role="menu">-->
                        <!--<li><a href="#">Settings 1</a>-->
                        <!--</li>-->
                        <!--<li><a href="#">Settings 2</a>-->
                        <!--</li>-->
                      <!--</ul>-->
                    <!--</li>-->
                    <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                    <!--</li>-->
                  <!--</ul>-->
                  <!--<div class="clearfix"></div>-->
                <!--</div>-->
                <!--<div class="x_content">-->
                  <!--<div class="dashboard-widget-content">-->

                    <!--<ul class="list-unstyled timeline widget">-->
                      <!--<li>-->
                        <!--<div class="block">-->
                          <!--<div class="block_content">-->
                            <!--<h2 class="title">-->
                                              <!--<a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>-->
                                          <!--</h2>-->
                            <!--<div class="byline">-->
                              <!--<span>13 hours ago</span> by <a>Jane Smith</a>-->
                            <!--</div>-->
                            <!--<p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>-->
                            <!--</p>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<div class="block">-->
                          <!--<div class="block_content">-->
                            <!--<h2 class="title">-->
                                              <!--<a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>-->
                                          <!--</h2>-->
                            <!--<div class="byline">-->
                              <!--<span>13 hours ago</span> by <a>Jane Smith</a>-->
                            <!--</div>-->
                            <!--<p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>-->
                            <!--</p>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<div class="block">-->
                          <!--<div class="block_content">-->
                            <!--<h2 class="title">-->
                                              <!--<a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>-->
                                          <!--</h2>-->
                            <!--<div class="byline">-->
                              <!--<span>13 hours ago</span> by <a>Jane Smith</a>-->
                            <!--</div>-->
                            <!--<p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>-->
                            <!--</p>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</li>-->
                      <!--<li>-->
                        <!--<div class="block">-->
                          <!--<div class="block_content">-->
                            <!--<h2 class="title">-->
                                              <!--<a>Who Needs Sundance When You’ve Got&nbsp;Crowdfunding?</a>-->
                                          <!--</h2>-->
                            <!--<div class="byline">-->
                              <!--<span>13 hours ago</span> by <a>Jane Smith</a>-->
                            <!--</div>-->
                            <!--<p class="excerpt">Film festivals used to be do-or-die moments for movie makers. They were where you met the producers that could fund your project, and if the buyers liked your flick, they’d pay to Fast-forward and… <a>Read&nbsp;More</a>-->
                            <!--</p>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</li>-->
                    <!--</ul>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->


            <!--<div class="col-md-8 col-sm-8 col-xs-12">-->



              <!--<div class="row">-->

                <!--<div class="col-md-12 col-sm-12 col-xs-12">-->
                  <!--<div class="x_panel">-->
                    <!--<div class="x_title">-->
                      <!--<h2>Visitors location <small>geo-presentation</small></h2>-->
                      <!--<ul class="nav navbar-right panel_toolbox">-->
                        <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                          <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li><a href="#">Settings 1</a>-->
                            <!--</li>-->
                            <!--<li><a href="#">Settings 2</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                        <!--</li>-->
                      <!--</ul>-->
                      <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                    <!--<div class="x_content">-->
                      <!--<div class="dashboard-widget-content">-->
                        <!--<div class="col-md-4 hidden-small">-->
                          <!--<h2 class="line_30">125.7k Views from 60 countries</h2>-->

                          <!--<table class="countries_list">-->
                            <!--<tbody>-->
                              <!--<tr>-->
                                <!--<td>United States</td>-->
                                <!--<td class="fs15 fw700 text-right">33%</td>-->
                              <!--</tr>-->
                              <!--<tr>-->
                                <!--<td>France</td>-->
                                <!--<td class="fs15 fw700 text-right">27%</td>-->
                              <!--</tr>-->
                              <!--<tr>-->
                                <!--<td>Germany</td>-->
                                <!--<td class="fs15 fw700 text-right">16%</td>-->
                              <!--</tr>-->
                              <!--<tr>-->
                                <!--<td>Spain</td>-->
                                <!--<td class="fs15 fw700 text-right">11%</td>-->
                              <!--</tr>-->
                              <!--<tr>-->
                                <!--<td>Britain</td>-->
                                <!--<td class="fs15 fw700 text-right">10%</td>-->
                              <!--</tr>-->
                            <!--</tbody>-->
                          <!--</table>-->
                        <!--</div>-->
                        <!--<div id="world-map-gdp" class="col-md-8 col-sm-12 col-xs-12" style="height:230px;"></div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->

              <!--</div>-->
              <!--<div class="row">-->


                <!--&lt;!&ndash; Start to do list &ndash;&gt;-->
                <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                  <!--<div class="x_panel">-->
                    <!--<div class="x_title">-->
                      <!--<h2>To Do List <small>Sample tasks</small></h2>-->
                      <!--<ul class="nav navbar-right panel_toolbox">-->
                        <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                          <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li><a href="#">Settings 1</a>-->
                            <!--</li>-->
                            <!--<li><a href="#">Settings 2</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                        <!--</li>-->
                      <!--</ul>-->
                      <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                    <!--<div class="x_content">-->

                      <!--<div class="">-->
                        <!--<ul class="to_do">-->
                          <!--<li>-->
                            <!--<p>-->
                              <!--<input type="checkbox" class="flat"> Schedule meeting with new client </p>-->
                          <!--</li>-->
                          <!--<li>-->
                            <!--<p>-->
                              <!--<input type="checkbox" class="flat"> Create email address for new intern</p>-->
                          <!--</li>-->
                          <!--<li>-->
                            <!--<p>-->
                              <!--<input type="checkbox" class="flat"> Have IT fix the network printer</p>-->
                          <!--</li>-->
                          <!--<li>-->
                            <!--<p>-->
                              <!--<input type="checkbox" class="flat"> Copy backups to offsite location</p>-->
                          <!--</li>-->
                          <!--<li>-->
                            <!--<p>-->
                              <!--<input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>-->
                          <!--</li>-->
                          <!--<li>-->
                            <!--<p>-->
                              <!--<input type="checkbox" class="flat"> Food truck fixie locavors mcsweeney</p>-->
                          <!--</li>-->
                          <!--<li>-->
                            <!--<p>-->
                              <!--<input type="checkbox" class="flat"> Create email address for new intern</p>-->
                          <!--</li>-->
                          <!--<li>-->
                            <!--<p>-->
                              <!--<input type="checkbox" class="flat"> Have IT fix the network printer</p>-->
                          <!--</li>-->
                          <!--<li>-->
                            <!--<p>-->
                              <!--<input type="checkbox" class="flat"> Copy backups to offsite location</p>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
                <!--&lt;!&ndash; End to do list &ndash;&gt;-->
                <!---->
                <!--&lt;!&ndash; start of weather widget &ndash;&gt;-->
                <!--<div class="col-md-6 col-sm-6 col-xs-12">-->
                  <!--<div class="x_panel">-->
                    <!--<div class="x_title">-->
                      <!--<h2>Daily active users <small>Sessions</small></h2>-->
                      <!--<ul class="nav navbar-right panel_toolbox">-->
                        <!--<li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>-->
                        <!--</li>-->
                        <!--<li class="dropdown">-->
                          <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>-->
                          <!--<ul class="dropdown-menu" role="menu">-->
                            <!--<li><a href="#">Settings 1</a>-->
                            <!--</li>-->
                            <!--<li><a href="#">Settings 2</a>-->
                            <!--</li>-->
                          <!--</ul>-->
                        <!--</li>-->
                        <!--<li><a class="close-link"><i class="fa fa-close"></i></a>-->
                        <!--</li>-->
                      <!--</ul>-->
                      <!--<div class="clearfix"></div>-->
                    <!--</div>-->
                    <!--<div class="x_content">-->
                      <!--<div class="row">-->
                        <!--<div class="col-sm-12">-->
                          <!--<div class="temperature"><b>Monday</b>, 07:30 AM-->
                            <!--<span>F</span>-->
                            <!--<span><b>C</b></span>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="row">-->
                        <!--<div class="col-sm-4">-->
                          <!--<div class="weather-icon">-->
                            <!--<canvas height="84" width="84" id="partly-cloudy-day"></canvas>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-8">-->
                          <!--<div class="weather-text">-->
                            <!--<h2>Texas <br><i>Partly Cloudy Day</i></h2>-->
                          <!--</div>-->
                        <!--</div>-->
                      <!--</div>-->
                      <!--<div class="col-sm-12">-->
                        <!--<div class="weather-text pull-right">-->
                          <!--<h3 class="degrees">23</h3>-->
                        <!--</div>-->
                      <!--</div>-->

                      <!--<div class="clearfix"></div>-->

                      <!--<div class="row weather-days">-->
                        <!--<div class="col-sm-2">-->
                          <!--<div class="daily-weather">-->
                            <!--<h2 class="day">Mon</h2>-->
                            <!--<h3 class="degrees">25</h3>-->
                            <!--<canvas id="clear-day" width="32" height="32"></canvas>-->
                            <!--<h5>15 <i>km/h</i></h5>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-2">-->
                          <!--<div class="daily-weather">-->
                            <!--<h2 class="day">Tue</h2>-->
                            <!--<h3 class="degrees">25</h3>-->
                            <!--<canvas height="32" width="32" id="rain"></canvas>-->
                            <!--<h5>12 <i>km/h</i></h5>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-2">-->
                          <!--<div class="daily-weather">-->
                            <!--<h2 class="day">Wed</h2>-->
                            <!--<h3 class="degrees">27</h3>-->
                            <!--<canvas height="32" width="32" id="snow"></canvas>-->
                            <!--<h5>14 <i>km/h</i></h5>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-2">-->
                          <!--<div class="daily-weather">-->
                            <!--<h2 class="day">Thu</h2>-->
                            <!--<h3 class="degrees">28</h3>-->
                            <!--<canvas height="32" width="32" id="sleet"></canvas>-->
                            <!--<h5>15 <i>km/h</i></h5>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-2">-->
                          <!--<div class="daily-weather">-->
                            <!--<h2 class="day">Fri</h2>-->
                            <!--<h3 class="degrees">28</h3>-->
                            <!--<canvas height="32" width="32" id="wind"></canvas>-->
                            <!--<h5>11 <i>km/h</i></h5>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="col-sm-2">-->
                          <!--<div class="daily-weather">-->
                            <!--<h2 class="day">Sat</h2>-->
                            <!--<h3 class="degrees">26</h3>-->
                            <!--<canvas height="32" width="32" id="cloudy"></canvas>-->
                            <!--<h5>10 <i>km/h</i></h5>-->
                          <!--</div>-->
                        <!--</div>-->
                        <!--<div class="clearfix"></div>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->

                <!--</div>-->
                <!--&lt;!&ndash; end of weather widget &ndash;&gt;-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="vendor/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="vendor/nprogress/nprogress.js"></script>
    <!-- Chart.js -->
    <script src="vendor/js/Chart.min.js"></script>
    <!-- gauge.js -->
    <script src="vendor/js/gauge.min.js"></script>
    <!-- bootstrap-progressbar -->
    <script src="vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <!-- iCheck -->
    <script src="vendor/js/icheck.min.js"></script>
    <!-- Skycons -->
    <script src="vendor/js/skycons.js"></script>
    <!-- Flot -->
    <script src="vendor/js/jquery.flot.js"></script>
    <script src="vendor/js/jquery.flot.pie.js"></script>
    <script src="vendor/js/jquery.flot.time.js"></script>
    <script src="vendor/js/jquery.flot.stack.js"></script>
    <script src="vendor/js/jquery.flot.resize.js"></script>
    <!-- Flot plugins -->
    <script src="vendor/js/jquery.flot.orderBars.js"></script>
    <script src="vendor/js/jquery.flot.spline.min.js"></script>
    <script src="vendor/js/curvedLines.js"></script>
    <!-- DateJS -->
    <script src="vendor/js/date.js"></script>
    <!-- JQVMap -->
    <script src="vendor/js/jquery.vmap.js"></script>
    <script src="vendor/js/jquery.vmap.world.js"></script>
    <script src="vendor/js/jquery.vmap.sampledata.js"></script>
    <!-- bootstrap-daterangepicker -->
    <!--<script src="vendor/js/moment.min.js"></script>-->
    <!--<script src="vendor/js/daterangepicker.js"></script>-->
    <!-- morris.js -->
    <script src="vendor/morris/raphael.min.js"></script>
    <script src="vendor/morris/morris.min.js"></script>

    <!-- Custom Theme Scripts -->
    <script src="build/js/custom.min.js"></script>

  <script type="text/javascript">
    document.addEventListener("DOMContentLoaded", () => {
      {{#if investment_by_country}}
      let chart = new Morris.Bar({
        element: 'chart',
        data: [
          {{#each investment_by_country}}
            {
              'country': '{{this.country_name}}',
              'amount': '{{this.amount}}'
            },
          {{/each}}
        ],
        xkey: 'country',
        ykeys: ['amount'],
        labels: ['Inversión'],
        barColors:["#26B99A","#34495E","#ACADAC","#3498DB"],
        hideHover:"auto",
        resize: true,
        xLabelMargin: 10
      });
      {{/if}}

      {{#if error}}
        console.error(error);
      {{/if}}
    });
  </script>

  </body>
<!--</html>-->
