<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
  <!--<head>-->
    <!--<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">-->
    <!--&lt;!&ndash; Meta, title, CSS, favicons, etc. &ndash;&gt;-->
    <!--<meta charset="utf-8">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <!--<meta name="viewport" content="width=device-width, initial-scale=1">-->

    <!--<title>DataTables | Gentelella</title>-->

    <!--&lt;!&ndash; Bootstrap &ndash;&gt;-->
    <!--<link href="../vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Font Awesome &ndash;&gt;-->
    <!--<link href="../vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">-->
    <!--&lt;!&ndash; NProgress &ndash;&gt;-->
    <!--<link href="../vendors/nprogress/nprogress.css" rel="stylesheet">-->
    <!--&lt;!&ndash; iCheck &ndash;&gt;-->
    <!--<link href="../vendors/iCheck/skins/flat/green.css" rel="stylesheet">-->
    <!--&lt;!&ndash; Datatables &ndash;&gt;-->
    <!--<link href="dataTables.bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="buttons.bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="fixedHeader.bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="responsive.bootstrap.min.css" rel="stylesheet">-->
    <!--<link href="scroller.bootstrap.min.css" rel="stylesheet">-->

    <!--&lt;!&ndash; Custom Theme Style &ndash;&gt;-->
    <!--<link href="../build/css/custom.min.css" rel="stylesheet">-->
  <!--</head>-->

  <body class="nav-md">
    <div class="container body">
      <div class="main_container">
        <div class="col-md-3 left_col">
          <div class="left_col scroll-view">
            <div class="navbar nav_title" style="border: 0;">
              <a href="index" class="site_title">
                <!--<i class="fa fa-paw"></i> -->
                <img src="siece.png">
                <span>SIECE</span>
              </a>
            </div>

            <div class="clearfix"></div>

            <!-- menu profile quick info -->
            {{#if user}}
            <div class="profile clearfix">
              <div class="profile_pic">
                <img src="img.png" alt="..." class="img-circle profile_img">
              </div>
              <div class="profile_info">
                <span>Bienvenido, </span>
                <h2>{{#if user.displayName}}{{user.displayName}}{{else}}{{user.email}}{{/if}}</h2>
              </div>
            </div>
            {{/if}}
            <!-- /menu profile quick info -->
            <br />
            <!-- sidebar menu -->
            <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
              <div class="menu_section">
                <h3>General</h3>
                <ul class="nav side-menu">
                  <li>
                    <a href="index"><i class="fa fa-home"></i> Dashboard</a>
                  </li>
                  <li>
                    <a href="indicadores"><i class="fa fa-bar-chart"></i> Indicadores</a>
                  </li>
                  {{#if user}}
                    {{#unless is_admin}}
                      <li>
                        <a href="perfil"><i class="fa fa-user"></i> Perfil</a>
                      </li>
                      <li>
                        <a href="formularios"><i class="fa fa-edit"></i> Formularios</a>
                      </li>
                    {{/unless}}
                  {{/if}}
                  {{#if is_admin}}
                    <li>
                      <a href="admin"><i class="fa fa-pencil"></i> Administrador</a>
                    </li>
                  {{/if}}
                  {{#if is_admin}}
                  <li>
                      <a href="settings"><i class="fa fa-gear"></i> Configuraciones</a>
                  </li>
                  {{/if}}
                </ul>
              </div>
            </div>
            <!-- /sidebar menu -->
          </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
          <div class="nav_menu">
            <nav>
              <div class="nav toggle">
                <a id="menu_toggle"><i class="fa fa-bars"></i></a>
              </div>
              <div class="navbar-brand">
                <span style="color: #73879C">
                  <strong>Indicadores</strong>
                </span>
              </div>
              <ul class="nav navbar-nav navbar-right">
                <li class="">
                  {{#if user}}
                    <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                      <img src="img.png" alt="">{{#if user.displayName}}{{user.displayName}}{{else}}{{user.email}}{{/if}}
                      <span class=" fa fa-angle-down"></span>
                    </a>
                    <ul class="dropdown-menu dropdown-usermenu pull-right">
                      {{#if is_admin}}
                      {{else}}
                        <li><a href="perfil"> Perfil</a></li>
                      {{/if}}
                      <!--<li><a onclick="firebase.auth().signOut()"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a></li>-->
                      <li><a onclick="logout()"><i class="fa fa-sign-out pull-right"></i> Cerrar Sesión</a></li>
                    </ul>
                  {{else}}
                    <a href="login"><i class="fa fa-sign-in pull-right mt-1"></i> Iniciar Sesión</a>
                  {{/if}}
                </li>
                <li>
                  <a target="_blank" href="https://firebasestorage.googleapis.com/v0/b/siece-app.appspot.com/o/INSTRUCTIVO%20SIECE%20hoja%20V4.pdf?alt=media&token=530332cf-31c4-4e5e-abca-885ead6c79bd" >
                    <strong style="color: #1ABB9C">Instructivo <i class="fa fa-book"></i></strong>
                  </a>
                </li>
              </ul>
            </nav>
          </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
          <div class="">
            <div class="row">
              <div class="col-md-12 col-sm-12 col-xs-12">
                {{#if success}}
                  <div id="message" class="alert alert-success" role="alert">
                    {{success}}
                  </div>
                {{/if}}
                {{#if is_admin}}
                  <div id="message" class="alert alert-success" role="alert">
                    Usted es un usuario administrador
                  </div>
                {{/if}}
                {{#if warning}}
                  <div id="message" class="alert alert-warning" role="alert">
                    {{warning}}
                  </div>
                {{/if}}
                {{#if error}}
                  <div id="message" class="alert alert-danger" role="alert">
                    {{error}}
                  </div>
                {{/if}}
                {{#ifCond can_visualize '||' is_admin}}
                <div class="x_panel">
                  <div class="x_title">
                    <h2>Seleccionar un Indicador para visualizar</h2>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <form id="demo-form2" class="form-label-left" data-parsley-validate method="post">
                      <div class="form-group">
                        <label class="col-xs-12" for="report">
                          Indicador
                        </label>
                        <div class="col-xs-6">
                          <select class="select2_single form-control" id="reports" tabindex="-1" name="report" required>
                            <option></option>
                            <option value="financiamiento_anual">Monto promedio de crédito educativo por año</option>
                            <option value="financiamiento_beneficiario">Monto promedio de crédito educativo por
                              beneficiario para el año que se reporta</option>
                            <option value="financiamiento_institucion">Monto promedio de crédito educativo por
                              beneficiario desde el inicio del programa de CE hasta el año que se reporta</option>
                            <option value="porcentaje_graduados">Porcentaje de graduación de beneficiarios de C.E. de pregrado, 
                              que debería(n) graduarse en el año que se está reportando</option>
                            <option value="financiamiento_fuentes">Proporción de financiación de CE según fuente de
                              financiamiento por año</option>
                            <option value="variacion_anual">Variación anual de CE</option>
                            <option value="asignacion_lugar">Proporción de CE según el lugar de estudios</option>
                            <option value="asignacion_nivel">Proporción de CE según el nivel de estudios</option>
                            <option value="asignacion_genero">Proporción de CE según el género</option>
                            <option value="asignacion_nuevo">Proporción anual de CE nuevo según el lugar de
                              estudios</option>
                            <option value="asignacion_nuevo_nivel">Proporción anual de CE nuevo según el nivel de
                              estudios</option>
                            <option value="variacion_cartera_vigente">Variación anual de la cartera vigente</option>
                            <option value="variacion_cartera_vencida">Variación anual de la cartera vencida</option>
                            <option value="cartera_vigente_nivel">Proporción anual de la cartera vigente según el nivel
                              de estudios</option>
                            <option value="cartera_vigente_lugar">Proporción anual de la cartera vigente según el lugar
                              de estudios</option>
                            <option value="cartera_vigente_genero">Proporción anual de la cartera vigente según el
                              género</option>
                            <option value="cartera_vencida">Proporción anual de la cartera vencida</option>
                            <option value="cartera_vencida_nivel">Proporción anual de la cartera vencida según el nivel
                              de estudios</option>
                            <option value="cartera_vencida_lugar">Proporción anual de la cartera vencida según el lugar
                              de estudios</option>
                            <option value="cartera_vencida_genero">Proporción anual de la cartera vencida según el
                              género</option>
                            <option value="empleado_beneficiario">Relación empleado-beneficiario de CE</option>
                            <option value="plataforma">Proporción de ICE con plataforma tecnológica</option>
                            <option value="regulacion">Proporción de ICE reguladas</option>
                            <option value="calificacion">Proporción de ICE calificadas</option>
                          </select>
                        </div>
                      </div>
                      <div id="period_container" class="form-group">
                        <label class="col-xs-12 pt">
                          Periodo
                        </label>
                        <div class="col-xs-12">
                          <label for="from_year">Desde: </label>
                          <input type="number" id="from_year" maxlength="4" minlength="4" min="{{min_year}}" max="{{max_year}}" name="from_year" required>
                          <label for="to_year">Hasta: </label>
                          <input type="number" id="to_year" maxlength="4" minlength="4" min="{{min_year}}" max="{{max_year}}" name="to_year" required>
                        </div>
                      </div>
                      <div id="sources_container" class="form-group" hidden>
                        <label class="col-xs-12" for="sources">Fuente: </label>
                        <div class="col-xs-6">
                          <select class="select2_single form-control" id="sources" tabindex="-1" name="source">
                            <option></option>
                            <option value="gubernamental">Recursos gubernamentales</option>
                            <option value="privado">Recursos privados</option>
                            <option value="nacional">Créditos nacionales</option>
                            <option value="internacional">Créditos internacionales</option>
                            <option value="donaciones">Donaciones y filantropía</option>
                            <option value="cartera">Recuperación de la cartera / cobranza</option>
                            <option value="terceros">Administración de recursos de terceros</option>
                            <option value="cooperacion">Fondos de cooperación</option>
                            <option value="impuestos">Impuestos, tasas y contribuciones</option>
                            <option value="titularizacion">Titularización</option>
                            <option value="propios">Recursos propios</option>
                            <option value="inversiones">Inversiones</option>
                            <option value="otra">Otra</option>
                            <option value="todos">Total</option>
                          </select>
                        </div>
                      </div>
                      <div id="places_container" class="form-group" hidden>
                        <label class="col-xs-12" for="places">Lugar: </label>
                        <div class="col-xs-6">
                          <select class="select2_single form-control" id="places" tabindex="-1" name="place">
                            <option></option>
                            <option value="pais">País</option>
                            <option value="exterior">Exterior</option>
                            <option value="todos">Total</option>
                          </select>
                        </div>
                      </div>
                      <div id="levels_container" class="form-group" hidden>
                        <label class="col-xs-12" for="levels">Nivel: </label>
                        <div class="col-xs-6">
                          <select class="select2_single form-control" id="levels" tabindex="-1" name="level">
                            <option></option>
                            <option value="pregrado">Pregrado</option>
                            <option value="posgrado">Posgrado</option>
                            <option value="todos">Total</option>
                          </select>
                        </div>
                      </div>
                      <div id="sex_container" class="form-group" hidden>
                        <label class="col-xs-12" for="sex">Género: </label>
                        <div class="col-xs-6">
                          <select class="select2_single form-control" id="sex" tabindex="-1" name="sex">
                            <option></option>
                            <option value="femenino">Femenino</option>
                            <option value="masculino">Masculino</option>
                            <option value="todos">Total</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group">
                        <div class="col-xs-12 pt">
                          <button type="submit" class="btn btn-success">Ver Indicador</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                {{/ifCond}}
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h3><strong>{{indicator_name}}</strong></h3>
                    <div class="clearfix"></div>
                  </div>
                  <div id="table-container" class="x_content">
                    <table id="forms-datatable" class="table table-striped table-bordered" style="width: 100% !important;">
                      <thead>
                      <tr>
                        <th>Institución</th>
                        {{#each table_results.0.indicators as |indicator|}}
                          <th class="{{../type}}">{{../first_indicator_label}} {{#if ../first_indicator_label}}-{{/if}} {{indicator.reported_year}}</th>
                          {{#../indicator_labels}}
                            <th class="{{../../type}}">{{this}} - {{indicator.reported_year}}</th>
                          {{/../indicator_labels}}
                          {{#../additional_columns as |column|}}
                            <th class="{{column.format}}">{{column.name}} - {{indicator.reported_year}}</th>
                          {{/../additional_columns}}
                        {{/each}}
                      </tr>
                      </thead>
                      <tbody>
                      {{#each table_results as |result|}}
                        <tr>
                          <td>{{result.institution_name}}</td>
                          {{#each result.indicators as |indicator|}}
                            {{#each indicator.values as |value|}}
                              {{#if value}}
                                <td>{{value}}</td>
                              {{else}}
                                <td>-</td>
                              {{/if}}
                            {{/each}}
                          {{/each}}
                        </tr>
                      {{/each}}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="x_panel">
                  <div class="x_title">
                    <h3><strong>{{indicator_name}}</strong></h3>
                    <div class="clearfix"></div>
                  </div>
                  <div class="x_content">
                    <div id="chart"></div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
          <div class="pull-right">
            Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
          </div>
          <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
      </div>
    </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap -->
    <script src="vendor/bootstrap/dist/js/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="vendor/js/fastclick.js"></script>
    <!-- NProgress -->
    <script src="vendor/nprogress/nprogress.js"></script>
    <!-- iCheck -->
    <script src="vendor/js/icheck.min.js"></script>
    <!-- Parsley -->
    <!--<script src="vendor/parsley/parsley.min.js"></script>-->
    <!--&lt;!&ndash; i18n/es.js&ndash;&gt;-->
    <!--<script src="vendor/js/es.js"></script>-->
    <!-- Datatables -->
    <script src="vendor/datatables/jquery.dataTables.min.js"></script>
    <script src="vendor/datatables/dataTables.bootstrap.min.js"></script>
    <script src="vendor/datatables/dataTables.buttons.min.js"></script>
    <script src="vendor/datatables/dataTables.responsive.min.js"></script>
    <!--<script src="vendor/datatables/dataTables.scroller.min.js"></script>-->
    <script src="vendor/datatables/responsive.bootstrap.js"></script>
    <script src="vendor/datatables/buttons.bootstrap.min.js"></script>
    <script src="vendor/datatables/buttons.flash.min.js"></script>
    <script src="vendor/datatables/jszip.min.js"></script>
    <script src="vendor/datatables/pdfmake.min.js"></script>
    <script src="vendor/datatables/vfs_fonts.js"></script>
    <script src="vendor/datatables/buttons.html5.min.js"></script>
    <script src="vendor/datatables/buttons.print.min.js"></script>
    <!-- morris.js -->
    <script src="vendor/morris/raphael.min.js"></script>
    <script src="vendor/morris/morris.min.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="build/js/custom.min.js"></script>

    <script type="text/javascript">
      $(document).ready(() => {
        {{#if selected_report}}
          $("#report option[value={{selected_report}}]").attr("selected", true);
        {{/if}}

        {{#if from_year}}
          $("#from_year").val("{{from_year}}");
        {{/if}}

        {{#if to_year}}
          $("#to_year").val("{{to_year}}");
        {{/if}}

        <!--{{#if results}}-->
          <!--console.log({{{results}}});-->
        <!--{{/if}}-->

        $("#forms-datatable").DataTable({
          "dom": 'Bfrtip',
          "language": {
            "lengthMenu": "Mostrar _MENU_ registros por página",
            "zeroRecords": "Sin datos para mostrar",
            "info": "Página _PAGE_ de _PAGES_",
            "infoEmpty": "Sin registros",
            "infoFiltered": "(filtrado de _MAX_ registros totales)",
            "search": "Filtrar:",
            "paginate": {
              "first":      "Primera",
              "last":       "Última",
              "next":       "Siguiente",
              "previous":   "Anterior"
            }
          },
          "ordering": true,
          "columnDefs": [
            {
              "render": function (data, type, row) {
                if (type === 'display' && !isNaN(Number(data)))
                  return 'USD ' + Number(data).toLocaleString('en-US', {style: 'currency', currency: 'USD'});
                return data;
              },
              "targets": 'money'
            },
            {
              "render": function (data, type, row) {
                if (type === 'display' && !isNaN(Number(data)))
                  return Number(data) + ' %';
                return data;
              },
              "targets": 'percentage'
            },
            {
              "render": function (data, type, row) {
                if (!isNaN(Number(data)))
                  return Number(data);
                return data;
              },
              "targets": 'number'
            },
          ],
          "buttons": [
            // 'copy', 'csv', 'excel', 'pdf', 'print'
            // { extend:"copy", className:"btn-sm" },
            { extend: "csv", className: "btn-sm" },
            { extend: "excel", className: "btn-sm" },
            { extend: "pdfHtml5", className: "btn-sm" },
            { extend: "print", className: "btn-sm" }
          ],
          // responsive: true,
          // "deferRender": false,
          "scrollX": true
          // scroller: true
        });

        // $("#forms-datatable").DataTable().draw();

        $("#reports").change(() => {
          $("#sources_container").hide().removeAttr('required');
          $("#sources").removeAttr('required');
          $("#places_container").hide().removeAttr('required');
          $("#places").removeAttr('required');
          $("#levels_container").hide().removeAttr('required');
          $("#levels").removeAttr('required');
          $("#sex_container").hide().removeAttr('required');
          $("#sex").removeAttr('required');
          $("#period_container").show().attr('required', true);
          $("#from_year").attr('required', true);
          $("#to_year").attr('required', true);

          if ($("#reports").val() === 'financiamiento_fuentes') {
            $("#sources_container").show().attr('required', true);
            $("#sources").attr('required', true);
          } else if ($("#reports").val() === 'asignacion_lugar' || $("#reports").val() === 'asignacion_nuevo'
              || $("#reports").val() === 'cartera_vigente_lugar' || $("#reports").val() === 'cartera_vencida_lugar') {
            $("#places_container").show().attr('required', true);
            $("#places").attr('required', true);
          } else if ($("#reports").val() === 'asignacion_nivel' || $("#reports").val() === 'cartera_vigente_nivel'
              || $("#reports").val() === 'cartera_vencida_nivel' || $("#reports").val() === 'asignacion_nuevo_nivel') {
            $("#levels_container").show().attr('required', true);
            $("#levels").attr('required', true);
          } else if ($("#reports").val() === 'asignacion_genero' || $("#reports").val() === 'cartera_vigente_genero'
              || $("#reports").val() === 'cartera_vencida_genero') {
            $("#sex_container").show().attr('required', true);
            $("#sex").attr('required', true);
          } else if ($("#reports").val() === 'plataforma' || $("#reports").val() === 'regulacion'
              || $("#reports").val() === 'calificacion') {
            $("#period_container").hide().attr('required', true);
            $("#from_year").removeAttr('required', true);
            $("#to_year").removeAttr('required', true);
          }
        });

        {{#if selected_report}}
          $("#reports option[value={{selected_report}}]").attr("selected", true);
          $("#reports").trigger("change");
        {{/if}}
        {{#if source}}
          $("#sources option[value={{source}}]").attr("selected", true);
        {{/if}}
        {{#if place}}
          $("#places option[value={{place}}]").attr("selected", true);
        {{/if}}
        {{#if level}}
          $("#levels option[value={{level}}]").attr("selected", true);
        {{/if}}
        {{#if sex}}
          $("#sex option[value={{sex}}]").attr("selected", true);
        {{/if}}
      })
    </script>

    <script type="text/javascript">
      function getRandomColor() {
        var letters = '0123456789ABCDEF';
        var color = '#';
        for (var i = 0; i < 6; i++) {
          color += letters[Math.floor(Math.random() * 16)];
        }
        return color;
      }
      function listRandomColors(size, group = 1){
        group = group > 1 ? group : 1;
        var colors = [];
        for (var i = 0; i < size; i++) {
          var ok = false;
          while(!ok){
            var color = getRandomColor();
            if(colors.indexOf(color) === -1){
              ok = true;
              if(group > 1 ){
                for(var j = 0; j < group; j++){
                  colors.push(color);
                  i++;
                }
              } else {
                colors.push(color);
              }
            }
          }
        }
        return colors;
      }
      document.addEventListener("DOMContentLoaded", () => {
        let institution_names_sorted = [
            {{#each institution_names}}
                '{{this}}',
            {{/each}}
        ];
        let color_group = {{#if color_group}}{{#json color_group}}{{/json}}{{else}}1{{/if}};
        const colors = listRandomColors(institution_names_sorted.length, color_group);
        console.log(colors);
        institution_names_sorted = institution_names_sorted.sort(function(a, b){
            return a.localeCompare(b);
        });
        let chart;
        {{#if line_chart_results}}
          chart = new Morris.Line({
            element: 'chart',
            lineColors: colors,
            data: [
              {{#each line_chart_results}}
                {
                  {{#each this}}
                    {{#if this.[0]}}
                      '{{@key}}': '{{this.[0]}}',
                    {{else}}
                      '{{@key}}': '{{this}}',
                    {{/if}}
                  {{/each}}
                },
              {{/each}}
            ],
            xkey: 'reported_year',
            parseTime: false,
            ykeys: institution_names_sorted,
            labels: institution_names_sorted,
            resize: true
          });
        {{/if}}
        {{#if bar_chart_results}}
          chart = new Morris.Bar({
            element: 'chart',
            barColors: colors,
            data: [
              {{#each bar_chart_results}}
                {
                  {{#each this}}
                    {{#if this.[0]}}
                      '{{@key}}': '{{this.[0]}}',
                    {{else}}
                      '{{@key}}': '{{this}}',
                    {{/if}}
                  {{/each}}
                },
              {{/each}}
            ],
            xkey: 'reported_year',
            parseTime: false,
            hideHover: 'auto',
            stacked: false,
            ykeys: institution_names_sorted,
            labels: institution_names_sorted,
            resize: true
          });
        {{/if}}
        {{#if pie_chart_results}}
          chart = new Morris.Donut({
            colors: ['#00FF00', '#FF0000'],
            element: 'chart',
            data: {{#json pie_chart_results}}{{/json}},
            resize: true
          });
        {{/if}}
      });
    </script>
  </body>
<!--</html>-->
